---
components:
  - name: "Basic Setup"
    id: "basic-setup"
folder: jump-menu
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Jump Menu (External) v1.0"
---

<!-- TODO: Rename this component "Select Menu" maybe combine with the in-page navigation. -->

<p>This component will allow you to place a select menu navigation on your page that will take you to another page when a submit button is clicked.</p>

{% include demo/template.html %}

{% include guidance/select-menu.html %}

{% include_relative attr.html %}

{% include repo-info.html %}
