---
components:

  - name: Basic Setup
    id: basic-setup

attributes:

  - name: aria-label
    html: nav
    note: Mandatory
    desc: Used to pass a custom label to <code>nav</code> element. All menus must have a unique name describing them. Multiple menus on the page, should have a unique name.

classes:

  - name: .jump-menu
    html: 

      - div
      - section

    note: Mandatory
    desc: Used on the parent element that wraps your menu.

  - name: .jump-menu__nav	
    html: nav
    note: Mandatory
    desc: Used on the nav element that wraps your label, select, and button elements.

  - name: .jump-menu__select
    html: select
    note: Mandatory
    desc: Used on the menu navigation.

  - name: .jump-menu__button
    html: button
    note: Mandatory
    desc: Used on the menu submit button.

notes: 

  - item: The <code>for</code> attribute for the <code>label</code> and <code>id</code> attribute for the <code>select</code> are intentionally omitted. Their inclusion is handled by the script so that multiple navigations on the page do not accidentally use the same identifier.
  - item: Multiple select menus per-page are allowed.

folder: jump-menu
jquery: false
localcss: init.css
localjs: init.js
tabcordion: true
title: Jump Menu (External) v1.0
desc: This component will allow you to use a select element as a navigation. When a selection is made and the button is pushed, it will take you to another page.
---

{% include demo/template.html %}

{% include guidance/select-menu.html %}

{% include demo/doc.html %} 
