---
---

.media__trigger {
text-align: start;
padding: 3px; // weird outline shape.

  &::before {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
  z-index: 1;
  }

}

.media {
border-radius: 6px;
border: 0;
box-shadow: 0px 4px 16px rgba(0, 0, 0, .8);
container-type: inline-size;
grid-template-rows: auto 1fr;
inline-size: 75vw;
inset: 0;
margin: auto;
max-block-size: 90vh;
min-inline-size: calc(380rem / 16);
overflow: hidden;
padding: 1em;
position: fixed;

  --primary-color: rebeccapurple;
  --secondary-color: #eee;

  $media-breakpoint: 45em;

  @media (min-width: $media-breakpoint) {

    block-size: 80vh;
    min-block-size: calc(600rem / 16);
    resize: both;
      
  }

  p:not(:last-child) {
  margin-block-end: 1em;;
  }

  time {
  color: var(--primary-color);
  font-weight: bold;
  }
  
  &[open] {
  display: grid;
  }
  
   &::backdrop {
   background-color: rgba(0, 0, 0, .5);
   }
  
  .media__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-block-end: 1em;
  gap: 1rem;
    
    h1 {
    font-size: 1.2rem;
    margin: 0;
    place-self: center;

      @container (min-width: #{$media-breakpoint}) {

        font-size: revert;

      }

    }
    
  }
  
  .media__controls {
  align-items: start;
  display: grid;
  gap: .5rem;
  grid-auto-flow: column;

    .media__controls--audio-description, .media__controls--close, .media__controls--transcript  {
    padding: .7rem;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: var(--primary-color);
    }
    
  }

  .media__container {
  display: grid;
  gap: .5em;
  grid-template-rows: max-content;
  min-block-size: 0;
    
    @container (min-width: #{$media-breakpoint}) {

      grid-template-columns: minmax(0, 0fr) minmax(0, 1fr);
      grid-template-rows: auto;

    }
 
    &.is-open {
      
      @container (min-width: #{$media-breakpoint}) {
      
        grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr); 
         
      }

      .media__transcript {
      visibility: visible;
      display: grid;

        @container (min-width: #{$media-breakpoint}) {

          display: auto;

        }

      }
      
    }

  }

  .media__transcript {
  background-color: var(--secondary-color);
  block-size: calc(240rem / 16);
  border-radius: 10px;
  display: none;
  grid-template-rows: max-content;
  overflow: hidden;
  padding: 0 .5em;
  visibility: hidden;

    @container (min-width: #{$media-breakpoint}) {

      block-size: auto;
      display: grid;

    }

  }

  .media__transcript--hdr {
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem .5rem .5rem;

    @container (min-width: #{$media-breakpoint}) {

        font-size: 1.4rem;

      }

  }

  .media__transcript--content {
  margin-bottom: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 1rem 1rem .5rem;
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-gutter: stable;

    p {
    line-height: 1.7;
    }

  }
  
  .media__asset {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  }

  .media__video {
  block-size: 100%;
  border: 0;
  inline-size: 100%;
  }

}