---
---

.section-41__transcript {
display: none;
}

.media {
block-size: 80vh;
border-radius: 6px;
border: 0;
box-shadow: 0px 4px 16px rgba(0, 0, 0, .8);
container-type: inline-size;
grid-template-rows: auto 1fr;
inline-size: 75vw;
inset: 0;
margin: auto;
max-block-size: 90vh;
min-inline-size: calc(320rem / 16);
overflow: hidden;
padding: 1em;
position: fixed;

  @media(min-width: 600px) {

      resize: both;
      
  }

  p:not(:last-child) {
  margin-block-end: 1em;;
  }

  time {
  color: rebeccapurple;
  font-weight: bold;
  }
  
  &[open] {
  display: grid;
  }
  
   &::backdrop {
   background-color: rgba(0, 0, 0, .5);
   }
  
  .media__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-block-end: 1em;
  gap: 1rem;
    
    h1 {
    margin: 0;
    place-self: center;
    }
    
  }
  
  .media__controls {
  align-items: center;
  display: grid;
  gap: .5rem;
  grid-auto-flow: column;

    button {
    padding: .7rem;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: rebeccapurple;
    }
    
  }

  .media__container {
  display: grid;
  gap: .5em;
  min-block-size: 0;
    
    @container (min-width: 600px) {
      
      grid-template-columns: minmax(0, 0fr) minmax(0, 1fr);
      
    }
 
    &.is-open {
      
      @container (min-width: 600px) {
      
        grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr); 
         
      }

      .media__transcript {
      visibility: visible;
      }
      
    }

  }

  .media__transcript {
  background-color: #eee;
  border-radius: 10px;
  display: grid;
  grid-template-rows: max-content;
  overflow: hidden;
  padding: 0 .5em;
  visibility: hidden;
  }

  .media__transcript--hdr {
  font-size: 1.4rem;
  margin: 0;
  padding: 1rem .5rem .5rem;
  }

  .media__transcript--content {
  margin-bottom: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em .5em;
  scrollbar-color: rebeccapurple transparent;
  scrollbar-gutter: stable;

    p {
    line-height: 1.7;
    }

  }
  
  .media__asset {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  }

  .media__video {
  block-size: 100%;
  border: 0;
  inline-size: 100%;
  }

}