---
---

/*!

  Component Library
  Author: Michael "Spell" Spellacy

*/

@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

.component-functions {
margin: 2em 0;
    
    ul {
    display: grid;
    gap: .5em;
    list-style: none;
    margin: 0;
    padding: 0;

        li, form {
        display: contents;
        }

        @media (min-width: 37.5em) {

            grid-template-columns: repeat(2, 1fr);

        }

        @media (min-width: 58.75em) {

            display: inline-grid;
            grid-template-columns: repeat(6, 1fr); 

        }

    }

    a, button {
    align-items: center;
    background-color: transparent;
    border: calc(1rem/16) solid #000;
    color: #000;
    cursor: pointer;
    display: grid;
    font-size: calc(14rem/16);
    grid-template-columns: min-content auto; 
    line-height: 1.2; 
    padding: 1.2em;
    text-align: start;
    text-decoration: none;

        @media (min-width: 37.5em) {

            justify-content: center;

        }

        &:hover, &:focus {
        text-decoration: underline;
        }

        &:after {
        display: none;
        }

        .icon {
        display: block;
        line-height: 0;
        margin-inline-end: calc(11rem/16);
        }

        svg {
        height: 1rem;
        width: 1rem;
        }

        .icon-check {
        display: none;
        }

        &.link-copied {

            .icon-copy-url {
            display: none;
            }

            .icon-check {
            display: block;
            }

        }

    }

}

.notes {
display: grid;
gap: 0.75em;
list-style: none;
margin: 0;
padding: 0;

    &__item {
    display: grid;
    gap: 0.75em;
    grid-template-columns: auto 1fr;
    }

    &__label {
    align-self: start;
    border-radius: calc(3rem/16);
    border: calc(2rem/16) transparent solid;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    min-width: calc(120rem/16);
    padding: .3em;
    text-align: center;

        &--behavior {
        background-color: orange;
        border-color: darkorange;
        }
        
        &--bug {
        background-color: tomato;
        border-color: red;
        }
        
        &--feature {
        background-color: rebeccapurple;
        border-color: purple;
        color: #fff
        }

        &--logic {
        background-color: lightblue;
        border-color: darkblue;
        }
        
        &--important {
        background-color: red;
        border-color: tomato;
        border-style: dashed;
        color: #fff;
        }
        
        &--maintenance {
        background-color: hotpink;
        border-color: crimson;
        }

        &--note {
        background-color: #40E8D4;
        border-color: #4068e8;
        }
            
        &--roadmap {
        background-color: green;
        border-color: darkgreen;
        color: #fff;
        }
            
        &--testing {
        background-color: yellow;
        border-color: goldenrod;
        }

    }

    &__content {
    align-self: center;
    }

      
}
    
 
.btn-code-copy {
background-color: transparent;
border-radius: 2px;
border: 1px #fff solid;
cursor: pointer;
display: block;
float: inline-end;
height: calc(30rem / 16);
inset-block-start: 1em;
inset-inline-end: 2em;
line-height: normal;
position: sticky;
width: calc(30rem / 16);
z-index: 1;

    svg {
    display: block;
    fill: #fff;
    }

    .icon-check {
    display: none;
    }
    
    &.code-copied {
    
    .icon-copy-url {
    display: none;
    }
    
    .icon-check {
    display: block;
    }
    
}
    
}

.tablist__tab {

    .icon {
    display: inline-block;
    margin-inline-end: calc(15rem/16);
    vertical-align: middle;
    width: calc(15rem/16);
    }
  
    &.active, &[aria-selected="true"] {
  
      svg {
      fill: #fff;
      }
  
    }
  
  }