---
components:
  - name: "Basic Setup"
    id: "basic-setup"
  - name: "Animation"
    id: "animation"
  - name: "Enable URL"
    id: "enable-url"
  - name: "Interactive Heading"
    id: "interactive-heading"
  - name: "Interactive Heading (Viewport Friendly)"
    id: "viewport-friendly"
  - name: "Multiple Disclosures"
    id: "multiple-disclosures"
  - name: "Open Disclosure"
    id: "open-disclosure"
  - name: "Visual Affordance"
    id: "visual-affordance"
folder: disclosure
in-page: true
localcss: "init.css"
localjs: "init.js"
section: component-library-disclosure
tabcordion: true
title: "Disclosure v1.6"
---

<p>This component will allow you to implement various types of disclosure widgets.</p>

{% include demo/template.html %}

{% include_relative attr.html %}

{% include repo-info.html %}
