/*!

  Radancy Component Library: Disclosure

  Contributor(s):
  Andrew Hill
  Michael "Spell" Spellacy
  Eric Porter

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;

.disclosure {
padding-top: 4em;
position: relative;

  ul, li {
  margin: 0;
  padding:0;
  list-style: none;
  }

}

.disclosure--btn {
background-color: $base-color;
border: 0;
color: #fff;
font-size: unset;
margin-bottom: 1em;
padding: 1em;
position: relative;
text-align: start; 
width: 100%;
}

.disclosure--heading {
font-size: unset;
margin: 0;
}

.disclosure--icon {
position: absolute;
inset-inline-end: 15px;
inset-block-start: 10px;
font-size: x-large;
line-height: normal;

  // This can be whatever you want.

  &::after {
  content: "+";
  }


}

.disclosure--heading, .disclosure--btn {

  // Open State

  &.open {

    // Toggle Icon

    .disclosure--icon {

      &::after {
      content: "-";
      }

    }

    // Show Content

    + .disclosure--content {
    display: block;

      // Animation

      &.disclosure--animate {
      grid-template-rows: 1fr;
      }

    }

  }

  + .disclosure--content {
    display: none;

    // Demo: You can remove the following styles if not desired.

    background-color: #ccc;
    margin: -2em 0 1em;
    padding: 1em;

    // Animation

    &.disclosure--animate {
    background-color: transparent;
    display: grid;
    grid-template-rows: 0fr; 
    overflow: hidden;
    
      @media (prefers-reduced-motion: no-preference) {
        
        transition: 0.4s ease-in-out;
        
      }
      
      > div {
      min-height: 0;
      }

    }

  }

}
