/*!

  Radancy Component Library: Disclosure

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

*/

// Sass Variables

$disclosure-breakpoint: 60em;

:root {

  --disclosure-arrow-size: 0.8em; // Toggle Arrow Size
  --disclosure-arrow-border: calc(2rem / 16); // Toggle Arrow Border
  --disclosure-color-active: #a9a9a9; // Active State
  --disclosure-color-default: #d3d3d3; // Default States
  --disclosure-color-interactive: #666; // Interactive State 
  --disclosure-color-selected: #6F00EF; // Selected States

}

// Disclosure Button

.disclosure--btn {

background-color: var(--disclosure-color-default) ;
border: 0;
color: inherit;
cursor: pointer;
display: grid;
font-size: inherit;
grid-auto-flow: column;
line-height: normal;
padding: 1em;
position: relative;
text-align: start;
width: 100%;

  &[data-persistent] {

    @media (min-width: $disclosure-breakpoint) {

      display: none;

    }

  }

  // Accessibility: Focus and hover states must meet a 3:1 color ratio between background color and foreground text.
  // The project designer should be providing this state. Also, never remove focus outlines! Either redesign them or 
  // design an alternative focus state. Learn: https://webaim.org/articles/contrast/

  &:focus-visible, &:hover {
  background-color: var(--disclosure-color-active);
  }
    
  &:focus-visible {
  outline-offset: -5px;
  }

  &[aria-expanded="true"] {
  background-color: var(--disclosure-color-selected);
  color: #fff;

    // Disclosure Arrow: State

    .disclosure--arrow {
    border-block-end-color: #fff;
    border-inline-start-color: #fff;
    transform: rotate(135deg);
    translate: 0 calc(8rem/16);
    }

  }

}

// Disclosure Heading

.disclosure--heading {
all: unset;
display: contents;
}

// Disclosure Arrow

.disclosure--arrow {
block-size: var(--disclosure-arrow-size);
border-width: var(--disclosure-arrow-border);
border-block-color: transparent var(--disclosure-color-selected);
border-block-start-width: 0;
border-inline-color: var(--disclosure-color-selected) transparent;
border-inline-end-width: 0;
border-style: solid;
content: "";
direction: ltr;
display: block;
inline-size: var(--disclosure-arrow-size);
justify-self: end;
transform: rotate(-45deg);
}

// Disclosure Content

.disclosure--content {
background-color: --disclosure-color-default;
display: none;
overflow: hidden;
padding: 1em;

  &[data-persistent] {

    @media (min-width: $disclosure-breakpoint) {

      display: grid; // Default is grid, but you can use block or flex if you are not using grid.

    }

  }

  &[data-animation] {
  
    @media (prefers-reduced-motion: no-preference) {
  
      transition: display 0s, max-height 3s allow-discrete;
  
    }
  
  }

}

// Disclosure Event

.disclosure--btn[aria-expanded="true"] + .disclosure--content, .disclosure--heading:has(.disclosure--btn[aria-expanded="true"]) + .disclosure--content {
display: grid;

  &[data-animation] {
  
    max-height: 5000px;

    @starting-style {
    
      max-height: 0;
    
    }

  }

}
