{% assign class = "reminder" %}

{% include message/header.html %}

    <p><strong>Reminder:</strong> This component may include scrollbars, especially when resized. Scrollbar design and behavior can vary across operating systems and browsers, which is normal. If using <code>::-webkit-scrollbar</code>, note that some browsers may not support this and will default to non-prefixed properties, where look and behavior may differ. For accessibility, ensure sufficient color contrast of 3:1 between the scroll bar, scroll track and background, and a minimum touch target of 24px by 24px.</p>

{% include message/footer.html %}