{% assign class = "experimental" %}

{% include message/header.html %}

    <p><strong>Experimental:</strong> Please note that this example uses the new <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@starting-style">@starting-style</a> at-rule and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition-behavior#allow-discrete">transition-behavior: allow-discrete;</a> to produce animation. This technique is <a href="https://caniuse.com/?search=allow-discrete">supported</a> in most major browsers. If you require specific animations in non-supporting browserss, you will need to come up with a traditional implementation.</p>

{% include message/footer.html %}