---
components:
  - name: "Basic Setup"
    id: "basic-setup"
classes:
  - name: .carousel-grid
    html: 
  
      - div
      - section
  
    note: Mandatory
    desc: Used on the parent element that wraps your content.
  - name: .carousel-grid__container	
    html: div
    note: Mandatory
    desc: Used on the element that wraps your content. Must be a child of <code>.carousel-grid</code>.
  - name: .carousel-grid__card
    html: div
    note: Mandatory
    desc: Used for each individual content container. Must be a child of <code>.carousel-grid__container</code>.
  - name: .carousel-grid__heading
    html: 
  
      - h2
      - h3
      - h4
      - h5
      - h6 
  
    note: Mandatory
    desc: Used for each individual content heading. Ideally, you'll want each heading to contain your hyperlink, so that purpose of each content block can be better understood by assistive tehcnologies.
folder: carousel-grid
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Carousel Grid"
desc: This component will allow you to implement a grid that turns into a carousel-like, horizontal scroll in smaller viewports.
---

{% include message/experimental.html %}

{% include demo/template.html %}

{% include demo/doc.html %} 
