/*!

  Radancy Component Library: Jump Menu (In-page)

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;

.in-page {
background-color: #eee;
border-radius: 5px;
padding: 1em;

  &__label {
  display: block;
  font-weight: bold;
  margin-inline-end: .3em;

    @media(min-width: 48.625em) {

      display: inline-block;

    }

  }

  &__select {
  font-size: inherit;
  margin-inline-end: .3em;
  padding: .5em;
  }

  &__content {
  
    &:target {
    scroll-margin-top: calc(190em / 16);
    }

  }

}
