---
title: "Radancy Component Library (RCL)"
navigation: false
card-local: true
---

{% include icon.html %}

{% assign selectedComponents = site.data.module.components %}
{% assign selectedFeeds = site.data.module.feeds %}
{% assign allSelections = selectedComponents | concat: selectedFeeds %}

{% for component in allSelections %}

  {% if component.hidden != true %}

    {% assign total_component_count = total_component_count | plus: 1 %}

    {% assign example_count = component.examples | size %}

    {% assign total_example_count = total_example_count | plus: example_count %}

  {% endif %}

{% endfor %}

<p>Access a library of modular components that seamlessly combine to assist in creating dynamic web interfaces. The library now includes <strong>{{ total_component_count }}</strong> unique components, with over <strong>{{ total_example_count }}</strong> examples to choose from.</p>

<h2 id="components">Components <a class="anchor" href="#components">{{ iconAnchor }} <span class="sr-only">(Components Anchor)</span></a></h2>

<ul class="card" role="list">

  {% for component in site.data.module.components %}

    {% if component.hidden != true %}

      <li class="card__item">

        <div class="card__media"> 

          {% if component.thumbnail == false %}

              <img alt="" src="thumb.png">

          {% else %}

            {% if component.thumbnail != nil %}

              <img alt="" src="{{ component.thumbnail }}">

            {% else %}

              <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ component.path }}/thumb.png">

            {% endif %}

          {% endif %}

        </div>

        <h3 class="card__title"><a class="card__trigger card__click" href="{% if component.path-full %}{{ component.path-full }}{% else %}{{ site.baseurl }}/{{ component.path }}/{{ component.hash }}{% endif %}">{{ component.title }}{% if component.version %} v{{ component.version }}{% endif %}</a></h3>

          <div class="card__summary">
              
            <p>{{ component.desc }}</p>

          </div>

          {% assign example_count = component.examples | size %}

          <ul class="card__metadata" role="list">

            {% if example_count > 0 %}

              <li>Examples: <b>{{ example_count }}</b></li>

            {% else %}

              <li>Examples: <b>1</b></li>

            {% endif %}

          </ul>
              
          {% if component.deprecated == true %}

            <div class="warning"><strong>Warning:</strong> This component is deprecated.</div>

          {% endif %}

      </li>

    {% endif %}

  {% endfor %}

</ul>

<h2 id="third-party">Third-Party <a class="anchor" href="#third-party">{{ iconAnchor }} <span class="sr-only">(Third-Party Anchor)</span></a></h2>

<ul class="card" role="list">

  {% for feed in site.data.module.feeds %}

    {% if feed.hidden != true %}

      <li class="card__item">

        <div class="card__media">

          {% if feed.thumbnail == false %}

              <img alt="" src="thumb.png">

          {% else %}

            {% if feed.thumbnail != nil %}

              <img alt="" src="{{ feed.thumbnail }}">

            {% else %}

              <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ feed.path }}/thumb.png">

            {% endif %}

          {% endif %}

        </div>

        <h3 class="card__title"><a class="card__trigger card__click" href="{% if feed.path-full %}{{ feed.path-full }}{% else %}{{ site.baseurl }}/{{ feed.path }}/{{ feed.hash }}{% endif %}">{{ feed.title }}{% if feed.version %} v{{ feed.version }}{% endif %}</a></h3>

        <div class="card__summary">
            
          <p>{{ feed.desc }}</p>

        </div>

        {% assign example_count = feed.examples | size %}
    
        {% assign example_count = component.examples | size %}

        <ul class="card__metadata" role="list">

          {% if example_count > 0 %}

            <li>Examples: <b>{{ example_count }}</b></li>

          {% else %}

            <li>Examples: <b>1</b></li>

          {% endif %}

        </ul>

        {% if feed.deprecated == true %}

        <div class="alert">This feed is deprecated.</div>

        {% endif %}

      </li>

    {% endif %}

  {% endfor %}

</ul>

<h2 id="layouts">Layouts <a class="anchor" href="#layouts">{{ iconAnchor }} <span class="sr-only">(Layouts Anchor)</span></a></h2>

<ul class="card" role="list">

  {% for layout in site.data.module.layouts %}

    {% if layout.hidden != true %}

      <li class="card__item">

        <div class="card__media">

          {% if layout.thumbnail == false %}

              <img alt="" src="thumb.png">

          {% else %}

            {% if layout.thumbnail != nil %}

              <img alt="" src="{{ layout.thumbnail }}">

            {% else %}

              <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ layout.path }}/thumb.png">

            {% endif %}

          {% endif %}

        </div>

        <h3 class="card__title"><a class="card__trigger card__click" href="{% if layout.path-full %}{{ layout.path-full }}{% else %}{{ site.baseurl }}/{{ layout.path }}/{{ layout.hash }}{% endif %}">{{ layout.title }}</a></h3>

        <div class="card__summary">
          
          <p>{{ layout.desc }}</p>

          {% if layout.deprecated == true %}

          <div class="alert">This layout is deprecated.</div>

          {% endif %}

        </div>

    </li>

    {% endif %}

  {% endfor %}

</ul>

<h2 id="resources">Resources <a class="anchor" href="#resources">{{ iconAnchor }} <span class="sr-only">(Resources Anchor)</span></a></h2>

<ul class="card" role="list">

  {% for resource in site.data.module.resources %}

    {% if resource.hidden != true %}

      <li class="card__item">

        <div class="card__media"> 

          {% if resource.thumbnail == false %}

              <img alt="" src="thumb.png">

          {% else %}

            {% if resource.thumbnail != nil %}

              <img alt="" src="{{ resource.thumbnail }}">

            {% else %}

              <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ resource.path }}/thumb.png">

            {% endif %}

          {% endif %}

        </div>

        <h3 class="card__title"><a class="card__trigger card__click" href="{% if resource.path-full %}{{ resource.path-full }}{% else %}{{ site.baseurl }}/{{ resource.path }}/{{ resource.hash }}{% endif %}">{{ resource.title }}{% if resource.version %} v{{ resource.version }}{% endif %}</a></h3>

          <div class="card__summary">
              
            <p>{{ resource.desc }}</p>

          </div>
            
          {% assign example_count = resource.examples | size %}
    
          <ul class="card__metadata" role="list">

            {% if example_count > 0 %}
  
              <li>Examples: <b>{{ example_count }}</b></li>
  
            {% else %}
  
              <li>Examples: <b>1</b></li>
  
            {% endif %}
  
          </ul>

          {% if resource.deprecated == true %}

            <div class="warning"><strong>Warning:</strong> This resource is deprecated.</div>

          {% endif %}

      </li>

    {% endif %}

  {% endfor %}

</ul>