---
title: "Radancy Component Library"
navigation: false
card: true
---

<p>Access a library of modular components that seamlessly combine to empower the creation of dynamic website interfaces.</p>

<h2 id="components">Components</h2>

<ul class="card">

  {% for item in site.data.module.component %}

  <li class="card__item">

      <div class="card__media"> 

          <div class="card__thumbnail">

            {% if item[1]["thumbnail"] == false %}

                <img alt="" src="thumb.png">

            {% else %}

                <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ item[1]['path'] }}/thumb.png">

            {% endif %}

          </div>

      </div>

      <div class="card__content">

        <h3 class="card__title"><a class="card__trigger" class="card__trigger" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }} v{{ item[1]["version"] }}</a></h3>

          <p class="card__summary">{{ item[1]["desc"] }}</p>

      </div>

  </li>

  {% endfor %}

</ul>

<h2 id="layouts">Layouts</h2>

<ul class="card">

  {% for item in site.data.module.layout %}

  <li class="card__item">

      <div class="card__media">

          <div class="card__thumbnail">

            {% if item[1]["thumbnail"] == false %}

                <img alt="" src="thumb.png">

            {% else %}

                <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ item[1]['path'] }}/thumb.png">

            {% endif %}

          </div>

      </div>

      <div class="card__content">

          <h3 class="card__title"><a class="card__trigger" class="card__trigger" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }}</a></h3>

          <p class="card__summary">{{ item[1]["desc"] }}</p>

      </div>

  </li>

  {% endfor %}

</ul>

<h2 id="third-party">Third-Party</h2>

<ul class="card">

  {% for item in site.data.module.feed %}

  <li class="card__item">

      <div class="card__media">

          <div class="card__thumbnail">

            {% if item[1]["thumbnail"] == false %}

                <img alt="" src="thumb.png">

            {% else %}

                <img alt="" src="{{ site.url }}{{ site.baseurl }}/{{ item[1]['path'] }}/thumb.png">

            {% endif %}

          </div>

      </div>

      <div class="card__content">

        <h3 class="card__title"><a class="card__trigger" class="card__trigger" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }} v{{ item[1]["version"] }}</a></h3>

        <p class="card__summary">{{ item[1]["desc"] }}</p>

      </div>

  </li>

  {% endfor %}

</ul>