---
components:

  - name: "Text Left Top"
    id: "text-left-top"

  - name: "Text Left Top (Constrain)"
    id: "text-left-top-constrain"

  - name: "Text Left Center"
    id: "text-left-center"

  - name: "Text Left Center (Constrain)"
    id: "text-left-center-constrain"

  - name: "Text Left Bottom"
    id: "text-left-bottom"

  - name: "Text Left Bottom (Constrain)"
    id: "text-left-bottom-constrain"

  - name: "Text Center Top"
    id: "text-center-top"

  - name: "Text Center Center"
    id: "text-center-center"

  - name: "Text Center Bottom"
    id: "text-center-bottom"

  - name: "Text Right Top"
    id: "text-right-top"

  - name: "Text Right Top (Constrain)"
    id: "text-right-top-constrain"

  - name: "Text Right Center"
    id: "text-right-center"

  - name: "Text Right Center (Constrain)"
    id: "text-right-center-constrain"

  - name: "Text Right Bottom"
    id: "text-right-bottom"

  - name: "Text Right Bottom (Constrain)"
    id: "text-right-bottom-constrain"

sass:

  - name: $end-banner 
    desc: This is your breakpoint for when you want to go from mobile to desktop.
    
  - name: $banner-constrain-wrapper 
    desc: If you need to contain the headline that overlays your hero image with a max-width to match other margins on the page. Used with <strong>.constrain</strong> class.
    
  - name: $banner-x-offset
    desc: Will allow you to choose the horizontal distance you want for your text to be from left or right. This would not apply to horizontally centered classes below.
    
  - name: $banner-y-offset
    desc: Will allow you to choose the vertical distance you want for your text to be from top or bottom. This would not apply to vertically centered classes below.

classes:

  - name: .constrain
    html: 

      - div
      - section

    note: Optional
    desc: This will apply a max-width around your text's inner-wrapper so that it can stay within margins used on page. Default would have text area be 100% the width of the viewport.

  - name: .text-center-bottom
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with bottom center of the hero banner.

  - name: .text-center-center
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with center (horizontal and vertical) of the hero banner.

  - name: .text-center-top
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with top center of the hero banner.

  - name: .text-left-bottom
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with bottom left of the hero banner.

  - name: .text-left-center
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with center left of the hero banner.

  - name: .text-left-top
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with top (vertical) left (horizontal) of the hero banner.

  - name: .text-right-center
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with center right of the hero banner.

  - name: .text-right-bottom
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with bottom right of the hero banner.

  - name: .text-right-top 
    html: 

      - div
      - section

    note: Optional
    desc: This will align text with top right of the hero banner.
 
notes: 

  - "When integrating banners for use in content page settings, the default code in the site theme also includes the structure mentioned above to leverage page-level items."
  - "If you're incorporating banners within sections or modules, follow a two-part approach. In <strong>Partial 1</strong>, place images within a <code>picture</code> element, and in <strong>Partial 2</strong>, embed your HTML content. For guidance on the proper implementation of headings in hero banners, please refer to <a href='#a11y-hero-headings'>Accessibility: Hero Banner Headings</a>."
  - "In this demo, an optional constraint has been set with a maximum width of 1400px horizontally."
  - "It's worth noting that while class names are tailored for left-to-right languages, this is done to accommodate developers and authors who read from left to right. The CSS utilizes <a href='https://adrianroselli.com/2019/11/css-logical-properties.html'>CSS Logical Properties</a> to ensure proper rendering in both left-to-right and right-to-left languages."

folder: hero-banner
in-page-custom: true
localcss: "init.css"
section: component-library-hero-banner
tabcordion: true
title: "Hero Banner (Image) v1.1"
desc: This component allows you to create a standard hero banner complete with a headline and supplementary text.
---

{% include message/hero-banner-advisory.html %}

{% include demo/template.html %}

{% include guidance/a11y-hero-headings.html %}

{% include demo/doc.html %} 