/*!

  Radancy Component Library: Hero Banner

  Contributor(s):
  Andrew Hill
  Michael Spellacy

  Dependencies: Sass

  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

/* Specify Breakpoint */

$end-banner: 48.625em; // 768px

/* specify max-width to create margins for the text wrapper */

$banner-constrain-wrapper: 87.5rem; // 1400px

/* specify max-width for the text block itself */

$banner-text-maxwidth: 25rem; // 400px

/* Set to zero if you want it flush with edges */

$banner-x-offset: 2.5rem; // 40px

$banner-y-offset: 2.5rem; // 40px

/* Supporting Code */

.hero-banner {
position: relative;

  img {
  display: block;
  min-width: 100%;
  }

  &__text-wrapper {
  position: relative;

  @media (min-width: $end-banner) {

      inset-inline: 0;
      margin: auto;
      position: absolute;

    }

  }

  &__text-inner-wrapper {
  margin: 0 auto;
  max-width: $banner-text-maxwidth;

    @media (min-width: $end-banner) {

      margin: auto;

    }

  }

  @media (min-width: $end-banner) {

    /* Top Alignment Options */

    &.text-left-top {

      .hero-banner__text-wrapper {
      inset-block-start: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      inset-inline-start: $banner-x-offset;
      position: absolute;
      }

    }

    &.text-right-top {

      .hero-banner__text-wrapper {
      inset-block-start: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      inset-inline-start: $banner-x-offset;
      position: absolute;
      }

    }

    &.text-center-top {

      .hero-banner__text-wrapper {
      inset-block-start: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      inset-inline-start: 50%;
      position: absolute;
      transform: translateX(-50%);
      }

    }

    /* Bottom Alignment Options */

    &.text-left-bottom {

      .hero-banner__text-wrapper {
      inset-block-end: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      position: absolute;
      inset-inline-start: $banner-x-offset;
      inset-block-end: 0;
      }

    }

    &.text-right-bottom {

      .hero-banner__text-wrapper {
      inset-block-end: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      inset-block-end: 0;
      inset-inline-end: $banner-x-offset;
      position: absolute;
      }

    }

    &.text-center-bottom {

      .hero-banner__text-wrapper {
      inset-block-end: $banner-y-offset;
      }

      .hero-banner__text-inner-wrapper {
      transform: translateX(-50%);
      position: absolute;
      inset-inline-start: 50%;
      inset-block-end: 0;
      }

    }

    /* Center Alignment Options */

    &.text-left-center {

      .hero-banner__text-wrapper {
      inset-block-start: 0;
      inset-block-end: 0;
      }

      .hero-banner__text-inner-wrapper {
      inset-block-start: 50%;
      inset-inline-start: $banner-x-offset;
      position: absolute;
      transform: translateY(-50%);
      }

    }

    &.text-right-center {

      .hero-banner__text-wrapper {
      inset-block-start: 0;
      inset-block-end: 0;
      }

      .hero-banner__text-inner-wrapper {
      inset-block-start: 50%;
      inset-inline-end: $banner-x-offset;
      position: absolute;
      transform: translateY(-50%);
      }

    }

    &.text-center-center {

      .hero-banner__text-wrapper {
      inset-block-start: 0;
      inset-block-end: 0;
      }

      .hero-banner__text-inner-wrapper {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      }

    }

  }

  &.constrain {

    .hero-banner__text-wrapper {
    max-width: $banner-constrain-wrapper;
    }

  }

}
