---
components:

  - name: "Basic Setup"
    id: "basic-setup"

classes:

  - name: .carousel-scroll
    html: 

      - div
      - section

    note: Mandatory
    desc: Used on the parent element that wraps your content.

  - name: .carousel-scroll__container	
    html: div
    note: Mandatory
    desc: Used on the element that wraps your content. Must be a child of <code>.carousel-scroll</code>.

  - name: .carousel-scroll__card
    html: div
    note: Mandatory
    desc: Used for each individual content container. Must be a child of <code>.carousel-scroll__container</code>.

  - name: .carousel-scroll__heading
    html: 

      - h2
      - h3
      - h4
      - h5
      - h6 

    note: Mandatory
    desc: Used for each individual content heading. Ideally, you'll want each heading to contain your hyperlink, so that each content block can be better understood by assistive technologies.

folder: carousel-scroll
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Carousel Scroll v1.0"
desc: This component will allow you to implement a scrollable carousel on your page.
---

{% include message/experimental.html %}

{% include demo/template.html %}

{% include demo/doc.html %} 
