<section aria-labelledby="hdr-a11y-hero-headings" class="a11y-info" id="a11y-hero-headings">

	<h2 id="hdr-a11y-hero-headings">Accessibility: Hero Banner Headings</h2>

  <p>Before incorporating an <code>h1</code> heading into your hero banner, it is essential to assess whether a heading truly aligns with your goals. Consider the following:</p>

    <ol>
      <li>Is the hero banner a call to action or a branded message? In such cases, treating the banner as a decorative element is preferable, and you should use a <code>div</code> instead of an <code>h1</code> or lower heading level.</li>
      <li>Is there another element elsewhere on the page that is better suited to serve as the primary heading? Frequently, this will be positioned below the hero banner. Often, this should be designated as your <code>h1</code>.</li>
      <li>Think in the context of your website structure. The hero banner on the homepage might appropriately represent the overarching message of the site and serve as your <code>h1</code>. While on subpages, it might be more appropriate to use a <code>div</code>, particularly when there's a more suitable heading that can be designated as your <code>h1</code>.</li>
    </ol>

</section>
