{% assign class = "a11y-info" %}
{% assign id = "responsible-animation" %}
{% assign landmark = "hdr-a11y-responsible-animation" %}
{% assign guidance-title = "Responsible Animation" %}

{% include guidance/header.html %}

    <p>Consider the impact that animation can have on people with disabilities. Animation can be a distraction for some, make others ill, and dangerous, even life-threatening, to those subject to seizures. By sticking to the following guidelines, we can make our web experiences pleasant and safe for everybody!</p>

    <ol>    
        <li>Any web animation that loops <strong>must</strong> include a <a href="{{ site.baseurl }}/animation-toggle/">pause button</a>. There are no exceptions here. In applications where this cannot be controlled, such as email, animation should be avoided.</li>
        <li>Animations that occur once when interacting with a web page are exempt from having a pause button if they do not last for more than <strong>5 seconds</strong> and are not <strong>excessive in their motion</strong>. However, developers should always exercise caution and honor user settings by including <code>prefers-reduced-motion</code> to help reduce or stop animation <em>where needed</em>. Please visit the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion">Mozilla Developer Network</a> for more details about this useful media query.</li>
        <li>Animations that flash more than <strong>3 times per second</strong> are <strong>not allowed</strong> on any websites, applications, or email, as they may induce seizures. A pause button will be ineffective here. If you suspect that an animation may be dangerous, please bring this to the attention of the <a href="mailto:a11y@radancy.com">Accessibility Team</a>.</li>
    </ol>

{% include guidance/footer.html %}