<section aria-labelledby="hdr-a11y-avoid-toggling-text" class="a11y-info" id="a11y-avoid-toggling-text">

	<h2 id="hdr-a11y-avoid-toggling-text">Accessibility: Avoid Toggling Text</h2>

	<p>Toggling text in a control to indicate a state change should be avoided. For example, click on the following button:</p>

	<button aria-pressed="false" class="btn" onclick="toggleText(this)">Save Item</button>

	<h3>Why is this an issue?</h3>

  	<ul>
    	<li>Changing text removes the initial context of the control, which can be confusing, especially if <code>aria-expanded</code> or <code>aria-pressed</code> are also used to aid assistive technology users.</li>
		<li>Changing text may not announce the state change to assistive technology users.</li>
	</ul>

	<h3>Solution</h3>

	<ul>
		<li>Instead of changing text, use visual affordance to convey that toggling behavior exists. This is a well-known and quickly understood convention. For example, up and down arrows, check mark, plus and minus, etc.</li>
		<li>Using a single instruction means there is less text to translate.</li>
	</ul>

	<!-- button aria-pressed="false" class="btn" onclick="toggleText()">{{ iconCheck }}{{ iconCopyURL }} Copy Link</button -->

</section>

<script>

function toggleText(id) {

  	var x = id;

	if (x.textContent === "Save Item") {

		x.textContent = "Item Saved";
		x.setAttribute("aria-pressed", "true");

	} else {

		x.textContent = "Save Item";
		x.setAttribute("aria-pressed", "false");

	}

}

</script>
