{% assign class = "a11y-info" %}
{% assign id = "a11y-iframe-label" %}
{% assign landmark = "hdr-a11y-iframe-label" %}
{% assign guidance-title = "Describe Your Iframes" %}

{% include guidance/header.html %}

    <p>Note the use of the <code>title</code> attribute on the <code>iframe</code> element. A brief description of the contents of the iframe must be provided to assist those who are using assistive technology, such as screen readers, to aid in the understanding of the contents of the frame. Alternatively, <code>aria-label</code> may also be used.</p>

{% include guidance/footer.html %}





