{% assign class = "reminder-info" %}
{% assign id = "reminder-video-performance" %}
{% assign landmark = "hdr-reminder-video-performance" %}
{% assign title = "Reminder: Video Performance" %}

{% include guidance/header.html %}

  <p>Be mindful of the negative impact background videos can have on page performance and consider these best practices when producing them:</p>

  <ul>
    <li>Ensure that video is delivered in an optimized <code>webm</code> and/or <code>mp4</code> format. Keeping file sizes as small as possible, without compromising quality, is critical.</li>
    <li>If video is delivered larger than the containing element it will exist within on the page, this is an opportunity to optimize. For example, if video is 1920 pixels wide but will only be shown within a maximum width of 1440 pixels, reducing the width and height of the video will help reduce overall video weight.</li>
    <li>Aim to keep videos between <strong>15-30</strong> seconds in length. The shorter the video, the lesser the impact it will have on overall page performance.</li>
  </ul>

{% include guidance/footer.html %}