{% assign class = "warning-info" %}
{% assign id = "learn-more" %}
{% assign landmark = "hdr-learn-more" %}
{% assign guidance-title = 'The Problem with "Learn More"' %}

{% include guidance/header.html %}

    <p>Consider alternatives to using "Learn More" or "Read More" or "View More" as CTAs, as their frequent use as the sole link on cards and similar interfaces poses accessibility challenges for screen reader users encountering lists of identical links. This can hinder usability and SEO. Opt for friendly, unique, contextually relevant links for improved accessibility. Before implementing these CTAs, explore these solutions and recommendations:</p>

    <ol>
        <li>Include relevant text in your CTA's to make them more clear. For example, instead of "Learn More" use "Learn More about Accessibility". Apple does this on its own <a href="{{ site.baseurl }}/card/apple-example.png">careers site</a>. Many designers and stakeholders do not like the additional space this takes up, but it really is the most effective way to prioritize accessibility.</li>
        <li>Alternatively, and as seen in all examples in the <a href="{{ site.baseurl }}/card">cards demo</a>, linking the card title and incorporating affordances, such as arrows, is familiar to users and can effectively prompt action just as well as text can. By removing the "Learn More" text, we mitigate the risk of them being programmed as hyperlinks.</li>
        <li>Use visually hidden text techniques. However, this technique should not be used in client managed, CMS content.</li>
        <li>ARIA can also be used, but <em>sparingly</em> and only when all other options have been exhausted. Here also, this technique should not be used in client managed, CMS content.</li>
        <li>If "Learn More" is a necessary part of the design, it can be implemented as a <em>faux CTA</em>. Meaning, you can include the text, but do not mark it up as a hyperlink. It can even be hidden from assistive technology by using ARIA, as it really is superfluous. In CMS content situations, you may wish to avoid this as it can be mistakenly linked.</li> 
        <li>If your card requires two distinct links, like in the <a href="{{ site.baseurl }}/card/#card-multiple-links">multiple links</a> example, strive to include visually hidden text with each link for improved accessibility. If not feasible, ensure that your cards are in a list format with a clear heading and that the multiple links are organized as a nested list for better understanding.</li>
    </ol>

{% include guidance/footer.html %}
