{% assign class = "warning-info" %}
{% assign id = "learn-more" %}
{% assign landmark = "hdr-learn-more" %}
{% assign guidance-title = 'The Problem with "Learn More"' %}

{% include guidance/header.html %}

    <p>Consider alternatives to using "Learn More" or "Read More" or "View More" as CTAs within cards, as they pose accessibility challenges for screen reader users encountering identical linksm which can hinder usability. Instead, opt for friendly, unique, contextually relevant links for improved accessibility and if such a call to action must be included in the design, be sure to program them properly. Before you begin, explore these solutions and recommendations:</p>

    <ol>
        <li>Include <a href="#card-distinct">distinct text</a> in your CTA's to make them more clear. For example, instead of "Learn More" use "Learn More about Accessibility". Apple does this on its own <a href="{{ site.baseurl }}/card/apple-example.png">careers site</a>. Many designers and stakeholders do not like the additional space this takes up, but it really is the most effective way to prioritize usability and accessibility.</li>
        <li>Alternatively, linking the <a href="#card-link-heading">card heading</a> and incorporating affordances, such as arrows, is familiar to users and can effectively prompt action just as well as text can. By removing the "Learn More" text, we mitigate the risk of them being programmed incorrectly as hyperlinks.</li>
        <li>Use <a href="#card-visually-hidden">visually hidden</a> text techniques. However, this technique should not be used in CMS-authored content.</li>
        <!-- li>ARIA can also be used, but <em>sparingly</em> and only when all other options have been exhausted. Here also, this technique should not be used in client managed, CMS content.</li -->
        <li>If "Learn More" is a necessary part of the design, it can be implemented as a <a href="#card-faux">faux CTA</a>. Meaning, you can include the text, but do not mark it up as a hyperlink. It can even be hidden from assistive technology by using ARIA, as it really is superfluous. This technique may not be used in CMS-authored content.</li> 
    </ol>

{% include guidance/footer.html %}
