---
localcss: "init.css"
localjs: "init.js"
title: "CSS Animation"
---

<p>Spice up your next website design with some of these commonly used CSS animations.</p>

{% include warning-animation.html %}

<div class="animation-container">

    <div class="animation-canvas">

        <div id="object">

            <img src="https://radancy.dev/img/logo.png" alt="">

        </div>

    </div>

</div>

<div class="container">

    <h2 id="entrances">Entrances</h2>

    <ul>
        <li><a href="pattern/_bigEntrance.scss" data-id="bigEntrance" class="button">Big Entrance</a></li>
        <li><a href="pattern/_expandOpen.scss" data-id="expandOpen" class="button">Expand Open</a></li>
        <li><a href="pattern/_expandUp.scss" data-id="expandUp" class="button">Expand Up</a></li>
        <li><a href="pattern/_flipInX.scss" data-id="flipInX" class="button">Flip In X</a></li>
        <li><a href="pattern/_flipInY.scss" data-id="flipInY" class="button">Flip In Y</a></li>
        <li><a href="pattern/_lightSpeedIn.scss" data-id="lightSpeedIn" class="button">Light Speed In</a></li>
        <li><a href="pattern/_rotateIn.scss" data-id="rotateIn" class="button">Rotate In</a></li>
        <li><a href="pattern/_rotateInDownLeft.scss" data-id="rotateInDownLeft" class="button">Rotate In Down Left</a></li>
        <li><a href="pattern/_rotateInDownRight.scss" data-id="rotateInDownRight" class="button">Rotate In Down Right</a></li>
        <li><a href="pattern/_rotateInUpLeft.scss" data-id="rotateInUpLeft" class="button">Rotate In Up Left</a></li>
        <li><a href="pattern/_rotateInUpRight.scss" data-id="rotateInUpRight" class="button">Rotate In Up Right</a></li>
        <li><a href="pattern/_slideDown.scss" data-id="slideDown" class="button">Slide Down</a></li>
        <li><a href="pattern/_slideExpandUp.scss" data-id="slideExpandUp" class="button">Slide Up Expand</a></li>
        <li><a href="pattern/_slideLeft.scss" data-id="slideLeft" class="button">Slide In Left</a></li>
        <li><a href="pattern/_slideRight.scss" data-id="slideRight" class="button">Slide In Right</a></li>
        <li><a href="pattern/_slideUp.scss" data-id="slideUp" class="button">Slide Up</a></li>
        <li><a href="pattern/_tinDownIn.scss" data-id="tinDownIn" class="button">Tin In Up</a></li>
        <li><a href="pattern/_tinLeftIn.scss" data-id="tinLeftIn" class="button">Tin In Left</a></li>
        <li><a href="pattern/_tinRightIn.scss" data-id="tinRightIn" class="button">Tin In Right</a></li>
        <li><a href="pattern/_tinUpIn.scss" data-id="tinUpIn" class="button">Tin In Down</a></li>
        <li><a href="pattern/_zoomIn.scss" data-id="zoomIn" class="button">Zoom In</a></li>
        <li><a href="pattern/_zoomInDown.scss" data-id="zoomInDown" class="button">Zoom In Down</a></li>
        <li><a href="pattern/_zoomInLeft.scss" data-id="zoomInLeft" class="button">Zoom In Left</a></li>
        <li><a href="pattern/_zoomInRight.scss" data-id="zoomInRight" class="button">Zoom In Right</a></li>
        <li><a href="pattern/_zoomInUp.scss" data-id="zoomInUp" class="button">Zoom In Up</a></li>
    </ul>

    <h2 id="exits">Exits</h2>

    <ul>
        <li><a href="pattern/_bounceOut.scss" data-id="bounceOut" class="button">Bounce Out</a></li>
        <li><a href="pattern/_bounceOutDown.scss" data-id="bounceOutDown" class="button">Bounce Out Down</a></li>
        <li><a href="pattern/_bounceOutLeft.scss" data-id="bounceOutLeft" class="button">Bounce Out Left</a></li>
        <li><a href="pattern/_bounceOutRight.scss" data-id="bounceOutRight" class="button">Bounce Out Right</a></li>
        <li><a href="pattern/_bounceOutUp.scss" data-id="bounceOutUp" class="button">Bounce Out Up</a></li>
        <li><a href="pattern/_flipOutX.scss" data-id="flipOutX" class="button">Flip Out X</a></li>
        <li><a href="pattern/_flipOutY.scss" data-id="flipOutY" class="button">Flip Out Y</a></li>
        <li><a href="pattern/_lightSpeedOut.scss" data-id="lightSpeedOut" class="button">Light Speed Out</a></li>
        <li><a href="pattern/_rotateOut.scss" data-id="rotateOut" class="button">Rotate Out</a></li>
        <li><a href="pattern/_rotateOutDownLeft.scss" data-id="rotateOutDownLeft" class="button">Rotate Out Down Left</a></li>
        <li><a href="pattern/_rotateOutDownRight.scss" data-id="rotateOutDownRight" class="button">Rotate Out Down Right</a></li>
        <li><a href="pattern/_rotateOutUpLeft.scss" data-id="rotateOutUpLeft" class="button">Rotate Out Up Left</a></li>
        <li><a href="pattern/_rotateOutUpRight.scss" data-id="rotateOutUpRight" class="button">Rotate Out Up Right</a></li>
        <li><a href="pattern/_tinDownOut.scss" data-id="tinDownOut" class="button">Tin Out Down</a></li>
        <li><a href="pattern/_tinLeftOut.scss" data-id="tinLeftOut" class="button">Tin Out Left</a></li>
        <li><a href="pattern/_tinRightOut.scss" data-id="tinRightOut" class="button">Tin Out Right</a></li>
        <li><a href="pattern/_tinUpOut.scss" data-id="tinUpOut" class="button">Tin Out Up</a></li>
        <li><a href="pattern/_zoomOut.scss" data-id="zoomOut" class="button">Zoom Out</a></li>
        <li><a href="pattern/_zoomOutDown.scss" data-id="zoomOutDown" class="button">Zoom Out Down</a></li>
        <li><a href="pattern/_zoomOutLeft.scss" data-id="zoomOutLeft" class="button">Zoom Out Left</a></li>
        <li><a href="pattern/_zoomOutRight.scss" data-id="zoomOutRight" class="button">Zoom Out Right</a></li>
        <li><a href="pattern/_zoomOutUp.scss" data-id="zoomOutUp" class="button">Zoom Out Up</a></li>
    </ul>

    <h2 id="attention">Attention</h2>

    <ul>
        <li><a href="pattern/_bounce1.scss" data-id="bounce1" class="button">Bounce 1</a></li>
        <li><a href="pattern/_bounce2.scss" data-id="bounce2" class="button">Bounce 2</a></li>
        <li><a href="pattern/_flash.scss" data-id="flash" class="button">Flash</a></li>
        <li><a href="pattern/_flip.scss" data-id="flip" class="button">Flip</a></li>
        <li><a href="pattern/_floating.scss" data-id="floating" class="button">Floating</a></li>
        <li><a href="pattern/_hinge.scss" data-id="hinge" class="button">Hinge</a></li>
        <li><a href="pattern/_jello.scss" data-id="jello" class="button">Jello</a></li>
        <li><a href="pattern/_pulse.scss" data-id="pulse" class="button">Pulse</a></li>
        <li><a href="pattern/_reveal.scss" data-id="reveal" class="button">Reveal</a></li>
        <li><a href="pattern/_rubberBand.scss" data-id="rubberBand" class="button">Rubberband</a></li>
        <li><a href="pattern/_shake.scss" data-id="shake" class="button">Shake</a></li>
        <li><a href="pattern/_spin.scss" data-id="spin" class="button">Spin</a></li>
        <li><a href="pattern/_swing.scss" data-id="swing" class="button">Swing</a></li>
        <li><a href="pattern/_tada.scss" data-id="tada" class="button">Tada</a></li>
        <li><a href="pattern/_tossing.scss" data-id="tossing" class="button">Tossing</a></li>
        <li><a href="pattern/_wobble.scss" data-id="wobble" class="button">Wobble</a></li> 
    </ul>

    <h2 id="container-distort">Container Distort</h2>

    <ul>
        <li><a href="pattern/_pullUp.scss" data-id="pullUp" class="button">Pull Up</a>
        <li><a href="pattern/_pullDown.scss" data-id="pullDown" class="button">Pull Down</a>
        <li><a href="pattern/_stretchLeft.scss" data-id="stretchLeft" class="button">Stretch Left</a>
        <li><a href="pattern/_stretchRight.scss" data-id="stretchRight" class="button">Stretch Right</a>
    </ul>

</div>

{% include guidance/responsible-animation.html %}
