---
components:

  - name: "Default Setup"
    id: "default-setup"

parameters: 

  - name: caption 
    note:

      - String
      - Optional

    desc:  "When set to <code>n</code>, the captions associated with each feed item will have a class of <code>visually-hidden</code> and <code>wai</code> appended to them. It will then be up to the front-end developer to accessibly hide this text from visual users, as they are still required to aid assistive technology users. Do <strong>not</strong> use <code>display: none</code> to hide these captions."

  - name: count 
    note:

      - Number
      - Optional

    desc: Sets the number of items to be displayed in the feed. The default is <strong>10</strong>.

  - name: default-css 
    note:

      - String
      - Optional

    desc:  When set to <code>y</code>, a link call to ready-made CSS will be appended to the <code>head</code> element of the page the script is running on. This is a bare-bones layout for quick implementation. Developers may wish to use their own CSS or copy over the default styles and alter as needed.

  - name: img 
    note:

      - String
      - Optional

    desc:  Determines which resolution of the image to be used. Accepted values include <code>low</code>, <code>high</code>, and <code>thumb</code>. The default is <code>thumb</code>, which will render thumbnail images.

  - name: user 
    note:

      - String
      - Mandatory

    desc:  Passing in the Instagram account name will display feed content from that account.

notes: 

  - item: jQuery is a dependency for this feed to run successfully. Career Sites have jQuery built in, so this step is not necessary on that platform.
  - item: An inline script may also be used to initialize the feed.

folder: feeds/instagram
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Instagram Feed v1.0"
desc: This component can be used to display a client's Instagram feed.
---

{% include demo/template.html %}

{% include demo/doc.html %} 