/*!

  Radancy Component Library: Horizontal Scroll

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

@layer horizontalscroll {

  .horizontal-scroll {

  // Component Variables

  --base-color: #6F00EF;
  --base-color-active: #fff;

  position: relative;
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1em 0;
  scroll-snap-type: inline mandatory;
  scrollbar-color: var(--base-color) var(--base-color-active);
  scrollbar-width: thin;

    @media (min-width: 62.5em) {

      grid-auto-flow: unset;
      grid-template-columns: repeat(4, 1fr);
      visibility: hidden; // Do not remove.

    }

    &__card {
    background-color: #fff;
    border-radius: calc(10rem / 16);
    border: calc(1rem / 16) #666 solid;
    min-width: calc(300rem / 16);
    padding: 1em;
    position: relative;
    scroll-snap-align: start;
    transition: 300ms;
    visibility: visible; // Do not remove.

      &:hover, &:focus-within {

        &:not[aria-label] & {

          background-color: #ccc;
      
        }

      }

      @media(min-width: 62.5em) {

        min-width: auto;

      }

    }

    &__heading {

      a {
      display: block;

        // Make entire card clickable

        &::before {
        content: "";
        display: block;
        inset: 0;
        position: absolute;
        }

      }

    }

  }

}
