

  <ul>
    <li><a href="/">Radancy.dev</a></li>
    <li><a href="{{ site.baseurl }}/">Component Library</a></li>
    <li>

      <h2 id="pattern-animation">Animation</h2>

      <p>Animation components that can be used on your next project.</p>

      <ul>
        <li><a href="{{ site.baseurl }}/animation-toggle/">Animation Toggle</a></li>
        <li><a href="{{ site.baseurl }}/css-animation/">CSS Animations</a></li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-modules">Modules</h2>

      <p>Common components found on many websites. Crafted with usabiltiy and accessibility in mind.</p>

      <ul>
        <li>

          <h3 id="banners">Banners</h3>

          <ul>
            <li><a href="{{ site.baseurl }}/hero-banner/">Hero Banner</a></li>
            <li><a href="{{ site.baseurl }}/animation-toggle/#hero-banner">Hero Banner (Video)</a></li>
          </ul>

        </li>
        <li>

            <h3 id="pattern-carousels">Carousels</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/carousel-scroll/">Carousel Scroll</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-accordions">Disclosures</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/disclosure/">Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/disclosure-grid/">Grid Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/load-more/">Load More</a></li>
              <li><a href="{{ site.baseurl }}/tabcordion/">TabCordion</a></li>
              <li><a href="{{ site.baseurl }}/read-more/">Read More</a></li>
            </ul>

        </li>
        <li>

          <h3 id="pattern-layouts">Layouts</h3>
    
          <ul>
            <li><a href="/tb-ajd-template/" id="nav-advanced-job-details">Advanced Job Details (AJD) 2.0</a></li>
            <li><a href="{{ site.baseurl }}/floating-labels/">Floating Labels</a></li>
            <li><a href="{{ site.baseurl }}/related-content/" id="nav-related-content">Related Content (Cards)</a></li>
          </ul>
    
        </li>
        <li>

            <h3 id="pattern-navigation">Navigation</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/jump-menu/">Jump Menu (External)</a></li>
              <li><a href="{{ site.baseurl }}/in-page/">Jump Menu (In-page)</a></li>
            </ul>

        </li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-feeds">Feed & Share</h2>

      <p>Third party social plugins you can use on your site.</p>

  		<ul>
  			<li><a href="{{ site.baseurl }}/feeds/facebook/">Facebook Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/instagram/">Instagram Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/twitter/">Twitter Feed 1.5</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/youtube-feed-iframe/">YouTube Feed: Inline Frame Edition 1.0</a></li>
  		</ul>

  	</li>
  </ul>
