<h2 id="components">Components</h2>

<p>Modular elements you can combine to create website and web application interfaces.</p>

<h3 id="component-animation">Accordions</h3>

<ul>
  <li><a href="{{ site.baseurl }}/accordion-grid/" data-nav-id="rad-accordion-grid-index">Accordion Grid</a></li>
</ul>

<h3 id="component-animation">Animation</h3>

<ul>
  <li><a href="{{ site.baseurl }}/animation-toggle/" data-nav-id="rad-animation-toggle-index">Animation Toggle</a></li>
  <li><a href="{{ site.baseurl }}/css-animation/" data-nav-id="rad-css-animation-index">CSS Animations</a></li>
</ul>

<h3 id="component-carousels">Carousels</h3>

<ul>
  <!-- li><a href="{{ site.baseurl }}/carousel-grid/" data-nav-id="rad-carousel-grid-index">Carousel Grid</a></li -->
  <li><a href="{{ site.baseurl }}/horizontal-scroll/" data-nav-id="rad-horizontal-scroll-index">Horizontal Scroll</a></li>
</ul>

<h3 id="component-disclosures">Disclosures</h3>

<ul>
  <li><a href="{{ site.baseurl }}/disclosure/" data-nav-id="rad-disclosure-index">Disclosure</a></li>
  <li><a href="{{ site.baseurl }}/disclosure-grid/" data-nav-id="rad-disclosure-grid-index">Disclosure Grid</a></li>
  <li><a href="{{ site.baseurl }}/load-more/" data-nav-id="rad-load-more-index">Load More</a></li>
  <li><a href="{{ site.baseurl }}/read-more/" data-nav-id="rad-read-more-index">Read More</a></li>
</ul>

<h3 id="component-hero">Hero</h3>

<ul>
  <li><a href="{{ site.baseurl }}/hero-banner/" data-nav-id="rad-hero-banner-index">Hero Banner (Image)</a></li>
  <li><a href="{{ site.baseurl }}/animation-toggle/#hero-banner" data-nav-id="rad-animation-toggle-index" data-nav-anchor>Hero Banner (Video)</a></li>
</ul>

<h3 id="component-navigation">Navigation</h3>

<ul>
  <li><a href="{{ site.baseurl }}/breadcrumbs/" data-nav-id="rad-breadcrumbs-index">Breadcrumbs</a></li>
  <li><a href="{{ site.baseurl }}/jump-menu/" data-nav-id="rad-jump-menu-index">Jump Menu (External)</a></li>
  <li><a href="{{ site.baseurl }}/in-page/" data-nav-id="rad-in-page-index">Jump Menu (In-page)</a></li>
</ul>

<h3 id="component-tabs">Tabs</h3>

<ul>
  <li><a href="{{ site.baseurl }}/tabcordion/" data-nav-id="rad-tabcordion-index">TabCordion</a></li>
  <li><a href="{{ site.baseurl }}/tablist/" data-nav-id="rad-tablist-index">Tablist</a></li>
</ul>

<h2 id="layouts">Layouts</h2>

<ul>
  <li><a href="/tb-ajd-template/" data-nav-id="rad-advanced-job-details-index">Advanced Job Descriptions (AJD)</a></li>
</ul>

<h2 id="third-party">Third-Party</h2>

<p>Third party social media plugins you can use on your site.</p>

<h3 id="social-media-feeds">Social Media Feeds</h3>

<ul>
  <li><a href="{{ site.baseurl }}/feeds/instagram/" data-nav-id="rad-feeds-instagram-index">Instagram</a></li>
  <li><a href="{{ site.baseurl }}/feeds/youtube/" data-nav-id="rad-feeds-youtube-index">YouTube</a></li>
</ul>