<h2 id="components">Components</h2>

<ul>

  {% for item in site.data.module.component %}

  <li><a data-nav-id="rad-{{ item[1]['id'] }}-index" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }}</a></li>

  {% endfor %}

</ul>

<h2 id="layouts">Layouts</h2>

<ul>

  {% for item in site.data.module.layout %}

  <li class="card__item"><a data-nav-id="rad-{{ item[1]['id'] }}-index" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }}</a></li>

  {% endfor %}

</ul>

<h2 id="third-party">Third-Party</h2>

<ul>

  {% for item in site.data.module.feed %}

  <li><a data-nav-id="rad-{{ item[1]['id'] }}-index" href="{% if item[1]['path-full'] %}{{ item[1]['path-full'] }}{% else %}{{ site.baseurl }}/{{ item[1]['path'] }}/{{ item[1]['hash'] }}{% endif %}">{{ item[1]["title"] }}</a></li>

  {% endfor %}

</ul>