<ul>
  <li><a href="/" id="nav-index">Radancy.dev</a></li>
  <li><a href="{{ site.baseurl }}/">Component Library</a></li>
  <li>

    <h2 id="component-animation">Animation</h2>

    <p>Animation components that can be used on your next project.</p>

    <ul>
      <li><a href="{{ site.baseurl }}/animation-toggle/" data-nav-id="rad-animation-toggle-index">Animation Toggle</a></li>
      <li><a href="{{ site.baseurl }}/css-animation/" data-nav-id="rad-css-animation-index">CSS Animations</a></li>
    </ul>

  </li>
  <li>

    <h2 id="component-modules">Modules</h2>

    <p>Common components found on many websites. Crafted with usabiltiy and accessibility in mind.</p>

    <ul>
      <li>

        <h3 id="banners">Banners</h3>

        <ul>
          <li><a href="{{ site.baseurl }}/hero-banner/" data-nav-id="rad-hero-banner-index">Hero Banner (Image)</a></li>
          <li><a href="{{ site.baseurl }}/animation-toggle/#hero-banner" data-nav-id="rad-animation-toggle-index" data-nav-anchor>Hero Banner (Video)</a></li>
        </ul>

      </li>
      <li>

          <h3 id="component-carousels">Carousels</h3>

          <ul>
            <li><a href="{{ site.baseurl }}/carousel-grid/" data-nav-id="rad-carousel-grid-index">Carousel Grid</a></li>
            <li><a href="{{ site.baseurl }}/carousel-scroll/" data-nav-id="rad-carousel-scroll-index">Carousel Scroll</a></li>
          </ul>

      </li>
      <li>

        <h3 id="component-disclosures">Disclosures</h3>

        <ul>
          <li><a href="{{ site.baseurl }}/disclosure/" data-nav-id="rad-disclosure-index">Disclosure</a></li>
          <li><a href="{{ site.baseurl }}/disclosure-grid/" data-nav-id="rad-disclosure-grid-index">Disclosure Grid</a></li>
          <li><a href="{{ site.baseurl }}/load-more/" data-nav-id="rad-load-more-index">Load More</a></li>
          <li><a href="{{ site.baseurl }}/read-more/" data-nav-id="rad-read-more-index">Read More</a></li>
        </ul>

      </li>
      <li>

        <h3 id="component-navigation">Navigation</h3>

        <ul>
          <li><a href="{{ site.baseurl }}/breadcrumbs/" data-nav-id="rad-breadcrumbs-index">Breadcrumbs</a></li>
          <li><a href="{{ site.baseurl }}/jump-menu/" data-nav-id="rad-jump-menu-index">Jump Menu (External)</a></li>
          <li><a href="{{ site.baseurl }}/in-page/" data-nav-id="rad-in-page-index">Jump Menu (In-page)</a></li>
        </ul>

      </li>
      <li>

        <h3 id="component-tabs">Tabs</h3>

        <ul>
          <li><a href="{{ site.baseurl }}/tabcordion/" data-nav-id="rad-tabcordion-index">TabCordion</a></li>
        </ul>

      </li>
      <li>

        <h3 id="component-templates">Templates</h3>
    
        <ul>
          <li><a href="/tb-ajd-template/" data-nav-id="rad-advanced-job-details-index">Advanced Job Details (AJD) 2.0</a></li>
        </ul>
    
      </li>
    </ul>

  </li>
  <li>

    <h2 id="component-third-party">Third-Party</h2>

    <p>Third party social media plugins you can use on your site.</p>

    <ul>
      <li>

        <h3 id="social-media-feeds">Social Media Feeds</h3>

  	    <ul>
  		    <li><a href="{{ site.baseurl }}/feeds/instagram/" data-nav-id="rad-feeds-instagram-index">Instagram</a></li>
  		    <li><a href="{{ site.baseurl }}/feeds/youtube/" data-nav-id="rad-feeds-youtube-index">YouTube</a></li>
  	    </ul>

      </li>
    </ul>

  </li>
</ul>
