/*!

  Radancy Component Library: Card Flip
  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;
$card-breakpoint: 60em;
$card-transition: 300ms;

// Card (.card)

.cardflip {
list-style: none;
margin: 0;
padding: 0;
width: fit-content;

  &:not([data-horizontal]) {

    display: grid;
    gap: 2em;
  
    @media (min-width: calc(40ch * 3)) {

      grid-template-columns: repeat(3, 1fr);

    }

  }

  // Item (.card__item)
  
  &__item {
  display: grid;
  perspective: 1000px;
  position: relative; // Needed for pseudo-element trick.
  }

  &__content {
  transform-style: preserve-3d;
  transition: transform 0.8s;
  will-change: transform;
  display: grid;
  grid-area: 1 / 1;

    .show & {
    transform: rotateY(180deg);
    }

  }

  // Button

  &__trigger {
  background-color: $base-color;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow size on hover */
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  grid-area: 1 / 1;
  height: calc(40em/16);
  margin-block: 1em 0;
  margin-inline: auto 1em;
  width: calc(40em/16);
  z-index: 1;
    
    // Icon
    
    &::after {
    content: "+";
    }
    
    // Pseudo-element Trick
    
    [data-enable-click] & {
    
      &::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: 1;
      }
    
    }
    
  }

  // Label

  &__label {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
  place-self: center;
  text-align: center;
  }

  // Card

  &__cta, &__disclosure {
  background-color: #fff;
  backface-visibility: hidden;
  border: 1px #767676 solid;
  border-radius: 5px;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  padding: 1em;
  }

  &__cta {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }

  &__disclosure {
  transform: rotateY(180deg);
  }
  
}