<h2 id="properties">Properties</h2>

<p>Use the following properties to configure this component.</p>

{% if page.elements %} 

<div class="table-container">

    <table id="elements">
    <caption>Elements</caption>
    <thead>
    <tr>
        <th>Element</th>
        <th>Note</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortElements = page.elements %}

    {% for element in sortElements %}

    <tr>
        <td>{% for html in element.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{% for note in element.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ element.desc }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
  
</div>

{% endif %}

{% if page.attributes %} 

<div class="table-container">

    <table id="attributes">
    <caption>Attributes</caption>
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Applies To</th>
        <th>Note</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortAttributes = page.attributes %}

    {% for attribute in sortAttributes %}

    <tr>
        <td><code>{{ attribute.name }}</code></td>
        <td><code>{{ attribute.html }}</code></td>
        <td>{% for note in attribute.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ attribute.desc }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
  
</div>

{% endif %}

{% if page.classes %} 

<div class="table-container">

    <table id="classes">
    <caption>Classes</caption>
    <thead>
    <tr>
        <th>Class</th>
        <th>Applies To</th>
        <th>Note</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortClasses = page.classes %}

    {% for class in sortClasses %}

    <tr>
        <td>{{ class.name }}</td>
        <td>{% for html in class.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{% for note in class.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ class.desc }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
  
</div>

{% endif %}

{% if page.cookies %} 

<div class="table-container">

    <table id="cookies">
    <caption>Cookies</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Type</th>
        <th>Secure</th>
        <th>SameSite</th>
        <th>Domain</th>
        <th>Path</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortCookies = page.cookies %}

    {% for cookie in sortCookies %}

    <tr>
        <td>{{ cookie.name }}</td>
        <td>{{ cookie.value }}</td>
        <td>{{ cookie.type }}</td>
        <td>{{ cookie.secure }}</td>
        <td>{{ cookie.samesite }}</td>
        <td>{{ cookie.domain }}</td>
        <td>{{ cookie.path }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
  
</div>

{% endif %}

{% if page.notes %} 

<h2 id="notes">Additional Notes</h2>

<ul>
    
    {% assign sortNotes = page.notes %}

    {% for note in sortNotes %}
    
    <li>{{ note.item }}</li> 
    
    {% endfor %}

</ul>

{% endif %}

<h2 id="repository">Repository</h2>

<ul>
  <li><a href="{{ site.repo }}/blob/main/{{ page.folder }}/">Visit Repository</a></li>
  <li><a href="{{ site.repo }}/archive/main.zip">Download Repository</a></li>
</ul>

<h2 id="issues">Report Issues</h2>

<p>Find a bug? Report it on <a href="http://jira.tmp.com/browse/{{ page.jira }}">JIRA</a>. You're so awesome!</p>