{% include icon.html %}

<p>{{ page.desc }}</p>

  {% if page.in-page-custom %}

    <div class="in-page-custom" data-in-page-dynamic>

  {% endif %}

  {% if page.in-page-custom %}

    <h2 id="examples">Examples</h2>

    <nav aria-label="Example" class="in-page-custom__nav">

        <label class="in-page-custom__label">Choose an example:</label>

        <select class="in-page-custom__select">

        </select>

        <div class="sr-only" aria-live="polite"></div>

    </nav>

  {% else %}

    <h2 id="basic-setup">Default Setup</h2>

  {% endif %}

  {% assign counter = 1 %}
  
  {% for component in page.components %}

    {% capture html %}{% include_relative html/{{ component.id }}.html %}{% endcapture %}

    {% if page.localcss %}

      {% capture css %}{% include_relative init.scss %}{% endcapture %}

    {% endif %}

    {% if page.localjs %}

      {% capture js %}{% include_relative init.js %}{% endcapture %}

    {% endif %}

    {% if component.customcss %}

      {% capture customcss %}{% include_relative {{ component.customcss }}.scss %}{% endcapture %}

    {% endif %}

    {% if component.customjs %}

      {% capture customjs %}{% include_relative {{ component.customjs }} %}{% endcapture %}

    {% endif %}

    {% if page.in-page-custom %}

    <div class="in-page-custom__content" data-in-page-name="{{ component.name }}" data-in-page-id="{{ component.id }}">

    {% endif %}
  
      {% include_relative html/{{ component.id }}.html %}
  
      {% if component.note %}
  
        <p><strong>Note:</strong> {{ component.note }}</p>
  
      {% endif %}

      <nav aria-label="Code Functions" class="component-functions">
        
        <ul>
          <li><button data-code="{{ page.url | absolute_url }}#{{ component.id }}">{{ iconCheck }}{{ iconCopyURL }} Copy link to example</button></li>
          <li><form action="https://codepen.io/pen/define" id="{{ component.id }}-codepen" method="POST" target="_blank"><button>{{ iconCodePen }} Edit on CodePen</button></form></li>
          <li><a href="{{ component.id }}" target="_blank">{{ iconNewWindow }} Open in new window</a></li>
          <li><a href="{{ site.repo }}/blob/main/{{ page.folder }}/">{{ iconGit }} Visit Repository</a></li>
        </ul>

      </nav>

      <script>

      var codePenForm = document.getElementById("{{ component.id }}-codepen");

      var obj = {
        
        title: "{{ page.title }} {% if component.name %}: {{ component.name }} {% endif %}",
        html: {{ html | jsonify }},
        css_external: "https://radancy.dev/css/init.css",
        css_pre_processor: "scss",
        {% if component.customcss %}
        css: {{ css | append: customcss | jsonify }},
        {% else %}
        css: {{ css | jsonify }}, 
        {% endif %}
        {% if component.customjs %}
        js: {{ js | append: customjs | jsonify }},
        {% else %}
        js: {{ js | jsonify }},
        {% endif %}
        {% if component.codepenjs %}
        js_external: '{% for item in component.codepenjs %}{% if item contains "://" %}{{ item }}{% else %}{{site.url}}/animation-library/{{ item }}{% endif %}{% if forloop.last %}{% else %};{% endif %}{% endfor %}',
        {% endif %}

      };

      var json = JSON.stringify(obj);

      var codePenInput = document.createElement("input");
      codePenInput.setAttribute("type", "hidden");
      codePenInput.setAttribute("name", "data");
      codePenInput.setAttribute("value", json);
      codePenForm.prepend(codePenInput);

      </script>

      {% assign counter = counter | plus: 1 %}

      <h2>Code</h2> 
  
      <div class="tab-accordion" data-tab-disable-url data-tab-breakpoint="(min-width: 0)">

        <button class="tab-accordion__button">HTML</button>
      
        <div class="tab-accordion__panel">
      
          <div class="tab-accordion__content" contenteditable spellcheck="false">
      
            {% highlight html %}{% include_relative html/{{ component.id }}.html %}{% endhighlight %}
            
          </div>
      
        </div>

        {% if page.localcss %}
      
          <button class="tab-accordion__button">CSS</button>
      
          <div class="tab-accordion__panel">
      
            <div class="tab-accordion__content" contenteditable spellcheck="false">
      
              {% highlight css %}{% include_relative init.scss %}{% endhighlight %}
            
            </div>
      
          </div>

        {% endif %}

        {% if component.customcss %}
      
          <button class="tab-accordion__button">CSS</button>
    
          <div class="tab-accordion__panel">
    
            <div class="tab-accordion__content" contenteditable spellcheck="false">
    
              {% highlight javascript %}{% include_relative {{ component.customcss }}.scss %}{% endhighlight %}
          
            </div>
    
          </div>

        {% endif %}

        {% if page.localjs %}
      
          <button class="tab-accordion__button">JS</button>
      
          <div class="tab-accordion__panel">
      
            <div class="tab-accordion__content" contenteditable spellcheck="false">
      
              {% highlight javascript %}{% include_relative init.js %}{% endhighlight %}
            
            </div>
      
          </div>

        {% endif %}

        {% if component.customjs %}
      
          <button class="tab-accordion__button">JS</button>
      
          <div class="tab-accordion__panel">
      
            <div class="tab-accordion__content" contenteditable spellcheck="false">
      
              {% highlight javascript %}{% include_relative {{ component.customjs }} %}{% endhighlight %}
            
            </div>
      
          </div>

        {% endif %}
      
      </div>

    {% if page.in-page-custom %}
  
    </div>

    {% endif %}
  
  {% endfor %}

  {% if page.in-page-custom %}
  
  </div>

  {% endif %}