// Example: GIF Animation

.gif-animation {
grid-area: 1 / 1;
justify-self: center;

    &--off {
    display: block;
    }

    &--on {
    display: none;
    }

  .animation-enabled & {

    &--off {
    display: none;
    }

    &--on {
    display: block;
    }

  }

} 