// Example: GIF Animation

.gif-animation {
margin: 0 auto;

    &--off {
    display: block;
    }

    &--on {
    display: none;
    }

  .animation-enabled & {

    &--off {
    display: none;
    }

    &--on {
    display: block;
    }

  }

} 