---
components:

  - name: "Default Setup"
    id: "default-setup"

  - name: "Audio Description (Experimental)"
    id: "audio-description"
    note: "This is an experimental feature that will allow the video to include an audio description. A valid, self-produced <a href='demo-description.vtt'>VTT</a> file is required."

  - name: "Breakpoint"
    id: "breakpoint"
    note: "Resize your browser to see the video change. This can be useful on mobile where you may wish to load in a smaller videos to improve performance or page layout."

  - name: "Callback Example (After Effects)"
    id: "callback"
    codepenjs: "https://radancy.dev/component-library/animation-toggle/callback-lottie.js"
    customcss: "callback-custom"
    customjs: "callback-custom.js"

  - name: "CSS Animation"
    id: "css-animation"
    customcss: "css-animation"

  - name: "Disable Loop"
    id: "disable-loop"
    note: "The video will only play once. Toggling the animation will work but will not restart the video after video is finished. This is by design."

  - name: "Hero Banner (Video)"
    id: "hero-banner"

  - name: "Kitchen Sink"
    id: "kitchen-sink"

  - name: "Poster (Fallback Image)"
    id: "poster"
    note: "Pause the video and then refresh the page. The first frame is from 25 seconds in. Please note that when pressing play, video will resume from this point."

  - name: "SVG Animation"
    id: "svg-animation"
    customcss: "svg-animation"

aria:

  - name: aria-label
    html: video
    note:
  
      - String
      - Optional
  
    desc: Used to pass custom label to <code>video</code> element. This will override the default label, which is "Background Animation".
  
  - name: aria-live
    html: .animation-toggle__track
    note: Conditional
    desc: Required on <code>.animation-toggle__track</code> when present and must contain a value of "polite".

attributes:

  - name: data-audio-description-button
    html: .animation-toggle
    note:

      - String
      - Optional

    desc: Used to pass custom label to <code>.animation-toggle__audio</code>. This will override the default label, which is "Audio Description".

  - name: data-callback
    html: .animation-toggle
    note:

      - String
      - Optional

    desc: Used to define a custom callback function to initiate when animation first loads and pause button is accessed. Particularly useful for handling third-party scripts. The callback accepts a single parameter called <code>thisButton</code> that you can use to target the button itself, if needed.
  
  - name: data-disable-loop
    html: video
    note:

      - Boolean
      - Optional

    desc: Used to prevent video from looping. When video has ended, <code>data-video-ended</code> will be appended to the video, which may act as a useful hook.

  - name: data-media
    html: video
    note:

      - String
      - Optional

    desc: Used to indicate at which point <code>data-srcset</code> will load. Accepts any valid media query, but typically <code>min-width</code> will be used.

  - name: data-pause-button
    html: .animation-toggle
    note:

      - String
      - Optional

    desc: Used to pass custom label to <code>.animation-toggle__pause</code>. This will override the default label, which is "Pause Animation".

  - name: data-poster
    html: video
    note:

      - Number
      - Optional

    desc: Used to indicate at which point video will load when paused. Accepts any valid time increment. Video will start from this point when play is enabled.

  - name: data-srcset
    html: video
    note:

      - String
      - Optional

    desc: Used to reference video asset that will load when <code>data-media</code> is present. This will reference a larger video, while the <code>src</code> attribute will reference a smaller video.

  - name: data-video-ended
    html: video
    note: Component
    desc: Added by component to <code>video</code> element when video has ended. It will only be appended when <code>data-disable-loop</code> is used.

classes:

  - name: .animation-enabled
    html: body
    note: Component
    desc: Applied on page load. Page animations will only run when this class is present. Removing it pauses animation. If you are leveraging this class in your CSS or scripting, then there is no need to use <code>prefers-reduced-motion</code>.

  - name: .animation-toggle	
    html: 

      - div
      - section

    note: Mandatory
    desc: Required on the parent element that wraps your animation and content.

  - name: .animation-toggle__audio
    html: button
    note: Component
    desc: Used on all audio description buttons.

  - name: .animation-toggle__backdrop
    html: .animation-toggle
    note: Optional
    desc: Append to <code>.animation-toggle</code> class. This will allow video to animate in on page load and for background shading to display when video is paused. Often used on hero banner and meant to improve contrast of foreground text.
  
  - name: .animation-toggle__controls
    html: div
    note: Component
    desc: Used to contain pause and audio description buttons.

  - name: .animation-toggle__pause
    html: button
    note: Component
    desc: Used on all pause buttons. This may never be hidden and is an integral part of the component.

  - name: .animation-toggle__track
    html: div
    note: Optional
    desc: Used on single <code>div</code> element that is a child of <code>.animation-toggle</code>. The <code>aria-live</code> attribute is required on this element when used.
    
  - name: .animation-toggle__video
    html: video
    note: Mandatory
    desc: Required on <code>video</code> element that is a child of <code>.animation-toggle</code>. Multiple videos may be used if desired.

cookies: 

  - name: AnimationPaused
    value: true/false
    type: Persistent
    secure: Yes
    samesite: None
    domain: N/A
    path: /

notes: 

  - "<b>Behavior:</b> Pausing one animation will result in a pause for all site-wide animations utilizing this script. Any animations that are paused will maintain their paused state when user returns to the site."
  - "<b>Behavior:</b> The script utilizes <code>prefers-reduced-motion</code>. If a user disables system animations, all animations will honor this setting." 
  - "<b>Behavior:</b> When no cookie is set and reduce animation is enabled, the animation stops."
  - "<b>Behavior:</b> When no cookie is set and reduce animation is not enabled, the animation plays."
  - "<b>Behavior:</b> When cookie is set to false (not paused) and reduce animation is enabled, OS setting take precedent and cookie is set to true (paused)."
  - "<b>Issue:</b> When cookie is set to true (paused) and reduce animation is disabled, cookie is not set to false (not paused). Page needs to be refreshed. This may not be an issue, but to work, we may need another condition to hook into here."
  - "<b>Behavior:</b> When reduce animation is not enabled, cookie settings take precedent."
  - "<b>Roadmap:</b> When reduce animation is enabled, it would be great if local page settings could override OS setting."
  - "<b>Behavior:</b> Phones in low power mode may automatically pause auto-playing videos to conserve battery life."
  - "<b>Testing:</b> While the <code>disableremoteplayback</code> attribute may not be recognized as valid HTML, the error can be safely disregarded."
  - "<b>Roadmap:</b> Now that responsive videos are <a href='https://scottjehl.com/posts/using-responsive-video/'>well supported again</a>, <code>data-srcset</code> and related functionality can be removed."
  - "<b>Roadmap:</b> Please be aware that using multiple <code>source</code> elements is not currently supported when <code>data-media</code> is in use. This may be a non-issue when <code>data-srcset</code> is removed."
  - "<b>Roadmap:</b> Revisit <code>data-disable-loop</code> after <code>data-srcset</code> is removed. Rather than only have video play once, we should pass in the number of times we wish for video to play."
  - "<b>Best Practice:</b> For optimal performance, ensure that videos are delivered in an optimized <code>webm</code> or <code>mp4</code> format. It's crucial to keep file sizes as small as possible without compromising quality to reduce overall page performance."
  - "<b>Best Practice:</b> Aim to keep videos between <strong>15-30</strong> seconds in length. The shorter the video, the lesser the impact it will have on overall page performance."

folder: animation-toggle
in-page-custom: true
localcss: "init.css"
localjs: "init.js"
libraryjs: "callback-lottie.js"
customjs: "callback-custom.js"
section: component-library-animation-toggle
tabcordion: true
title: "Animation Toggle v1.3"
desc: This component enhances animation control, ensuring improved accessibility for disabled users and optimized performance across devices.
---

{% include message/animation.html %}

{% include demo/template.html %}

{% include guidance/a11y-responsible-animation.html %}

{% include demo/doc.html %}