---
components:
  - name: "Basic Setup"
    id: "basic-setup"
  - name: "Audio Description (Experimental)"
    id: "audio-description"
    note: "This is an experimental feature that will allow the video to include an audio description. A valid, self-produced VTT file is required."
  - name: "Breakpoint"
    id: "breakpoint"
    note: "Resize your browser to see the video change. Look at the source code, too."
  - name: "CSS Animation"
    id: "css-animation"
  - name: "Hero Banner"
    id: "hero-banner"
  - name: "Kitchen Sink"
    id: "kitchen-sink"
  - name: "Poster (Fallback Image)"
    id: "poster"
    note: "Pause the video and then refresh the page. The first frame is from 25 seconds in. Please note that when pressing play, video will resume from this point."
folder: animation-toggle
in-page: true
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Animation Toggle v1.2"
---

<p>This component will allow you to implement video and CSS background animations that include a pause button.</p>

{% include base.html %}

{% include warning-animation.html %}

{% include demo-template.html %}

{% include css-animation.html %}

{% include_relative attr.html %}

{% include repo-info.html %}