// Example: SVG Animation

.svg-example {
grid-area: 1 / 1;
justify-self: center;
max-width: calc(400rem / 16);
    
    &__path {
    fill: #6F00EF;
    transform-origin: center;
    transform: scale(1, 0.5); 
    animation: pulse 1s infinite forwards;
    animation-play-state: paused; 
    
        .animation-enabled & {
        animation-play-state: running;
        }
      
    }
    
    &__line-1 {
    animation-delay: 0.15s;
    }
        
    &__line-2 {
    animation-delay: 0.3s;
    }
        
    &__line-3 {
    animation-delay: 0.45s;
    }
        
    &__line-4 {
    animation-delay: 0.6s;
    }
        
    &__line-5 {
    animation-delay: 0.75s;
    }
        
    &__line-6 {
    animation-delay: 0.9s;
    }
        
    &__line-7 {
    animation-delay: 1.05s;
    }
        
    &__line-8 {
    animation-delay: 1.2s;
    }
        
    &__line-9 {
    animation-delay: 1.35s;
    }
    
}
    
@keyframes pulse {
      
    0% {
    transform: scale(1, 0.5)
    }
      
    50% {
    transform: scale(1, 1)
    }
      
    100% {
    transform: scale(1, 0.5) 
    }
    
}