// Example: Transparent Video

.transparent-video-example {
position: relative;
overflow: hidden;

    // Not Required

    &::before, &::after {
    content: "";
    display: block;
    height: calc(800em/16);
    inset-block-end: 0;
    position: absolute;
    width: 33.3%;
    }

    &:before {
    background-color: orange;
    inset-inline-start: 0;
    }

    &:after {
    background-color: #6F00EF;
    inset-inline-end: 0;
    }

}

.section-animation {

    // Not Required

    &:before {
    background-color: tomato;
    content: "";
    height: calc(150rem/16);
    inset-block-start: 20%;
    inset-inline-start: 20%;
    opacity: 0.9;
    position: absolute;
    width: 20%;
    z-index: 2;
    }

    // Required

    &__video {
    max-height: 400px;
    max-width: 1920px;
    pointer-events: none; // Required so that elements behind video object can be selected and pressed. 
    z-index: 1;
    }

}