/*!

  Radancy Component Library: Jump Menu (In-page)

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;

.in-page {
border-radius: 5px;

  &__nav {
  background-color: #eee;
  display: block;
  max-width: calc(420rem / 16);
  padding: 1em;
  }

  &__label {
  display: block;
  font-weight: bold;
  margin: 0 0 .3em;
  }

  &__select {
  font-size: inherit;
  padding: .5em;
  width: 100%;
  }

  &__content {
  margin-top: 2em;
  
    &:target {
    scroll-margin-top: calc(190em / 16);
    }

  }

}
