/*!

  Radancy Component Library: Select Navigation (Internal)

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

*/

.select-internal {
  
  &__nav {
  background-color: #eee;
  border-radius: .5em;
  display: grid;
  gap: .5em;
  max-inline-size: calc(420rem / 16);
  padding: 1em;
  }
  
  &__label {
  font-weight: bold;
  margin: 0;
  }

  &__select {
  background-color: #FFF;
  border: 1px #ccc solid;
  font-size: inherit;
  padding: .5em;
  inline-size: 100%;
  }

  &__content {
  margin-block-start: 2em;
    
    &:target {
    scroll-margin-top: calc(190em / 16);
    }
  
  }

  // Custom Select 

  &[data-custom-select] {

    --select-primary-color: #6F00EF;

    .select-internal__select, ::picker(select) {

      appearance: base-select;
      line-height: normal;

    }

    .select-internal__select {
    border-radius: 5px;

      &:focus {
      outline: 2px var(--select-primary-color) solid;
      outline-offset: 2px;
      }

      &::picker-icon {
      color: var(--select-primary-color);
      transition: 0.4s rotate;
      }

      &:open::picker-icon {
      rotate: 180deg;
      }

      legend {
      color: var(--select-primary-color);
      font-size: 1.1rem;
      margin-block-end: .5em;
      }

      option {
      border-radius: 5px;
      margin-block-end: .5em;
      padding: .5em;
      text-wrap: wrap;

        &[value=""] {
        background-color: #eee;
        }
      
        &::checkmark {
        border-radius: 5px;
        border: 1px #fff solid;
        color: #fff;
        padding: 2px 6px;
        }

        &:focus, &:hover {
        outline: 0;
        color: #fff;
        background-color: var(--select-primary-color);
        }

      }

    }

    // This is the select dropdown

    ::picker(select) {
    border-radius: 5px;
    box-shadow: 0px 4px 16px rgb(0 0 0 / .8);
    line-height: normal;
    margin: 1em 1em 0 0;
    padding: 1em;
    scrollbar-color: var(--select-primary-color) transparent;
    scrollbar-width: thin;
    }

  }
  
}

