/*!

  Radancy Component Library: Select Navigation (Internal)

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

*/

.select-internal {
  
  &__nav {
  background-color: #eee;
  border-radius: .5em;
  display: grid;
  gap: .5em;
  max-inline-size: calc(420rem / 16);
  padding: 1em;
  }
  
  &__label {
  font-weight: bold;
  margin: 0;
  }

  &__select {
  background-color: #FFF;
  border: 1px #ccc solid;
  font-size: inherit;
  padding: .5em;
  inline-size: 100%;
  }

  &__content {
  margin-block-start: 2em;
    
    &:target {
    scroll-margin-top: calc(190em / 16);
    }
  
  }
  
}

