dialog {
border: 0;
height: 100%;
width: 100%;
background-color: transparent;
padding: 4em;
margin: 1em;
pointer-events: none;

  &::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  }

  .fancybox-content {
  height: 100%;
  background-color: #000;
  pointer-events: fill;
  }

  iframe, video {
  border: 0;
  width: 100%;
  height: 100%;
  }

  button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  margin: 0;
  pointer-events: fill;
  }

}