/*!

  Radancy Component Library: Tablist

  Contributor(s): 
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions: 
  sass --watch .:. --style compressed

*/

// Variables

$base-color: #6F00EF;
$base-color-active: white;
$base-color-neutral: lightgrey;
$tablist-breakpoint: 48.625em; // 778px

// Tablist Container

.tablist {
color: $base-color-active;
position: relative;

  &:has([aria-orientation]) {

    @media(min-width: 67.5em) {
  
      display: grid;
      grid-template-columns: 20% auto;

    }
  
  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

    @media(min-width: 67.5em) {

      &[aria-orientation] {

        display: block; 

      }

    }

    [data-stack] & {

      @media(max-width: $tablist-breakpoint) {

        display: block;

      }

    }

    [data-scroll] & {

      // This max-width can be changed depending on amount of list items you have.

      @media(max-width: $tablist-breakpoint) {

        flex-wrap: nowrap;
        overflow-x: auto;
        padding-right: calc(32em/16);
        scrollbar-color: $base-color $base-color-active;
        scrollbar-width: thin;
        white-space: nowrap;

          // Directional Arrow
          // TODO: Handle i18n at a later date.

          &::before {
          align-items: center;
          background-image: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          color: $base-color;
          content: "\00BB";
          display: flex;
          font-size: calc(28rem/16);
          height: calc(64rem/16);
          justify-content: right;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          width: calc(64rem/16);
          }

      }

    }

    li {
    flex-grow: 1;

      @media(min-width: $tablist-breakpoint) {

        flex-grow: 0;

      }

    }

  }

  // Tab Button

  &__tab {
  background-color: $base-color-neutral;
  color: #000;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;

    &:focus-visible, &:hover {
    background-color: darken($base-color-neutral, 10%);
    }

    &[aria-selected="true"] {
    background-color: $base-color;
    color: $base-color-active;
    }

  }

  // Tab Panel

  &__panel  {
  background-color: $base-color;
  padding: 1em;
  }

  // Tab Content

  &__content {

    [data-fixed-height] & {

      min-height: calc(480em/16);
      overflow-x: auto;
      padding-inline-end: 1em;
      scrollbar-color: $base-color-active $base-color;
      scrollbar-gutter: stable;
      scrollbar-width: thin;

    }

  }

  // Focus State

  // Accessibility: Never remove focus outlines! Either redesign the state or design an alternative focus state. 
  // However, a 3:1 ratio will be required. Learn: https://webaim.org/articles/contrast/

  &__tab, &__panel {

    &:focus {
    outline-offset: -6px;
    }

  }

}