/*!

  Radancy Component Library: Tablist

  Contributor(s): 
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions: 
  sass --watch .:. --style compressed

*/

// Variables

$base-color: #6F00EF;
$base-color-active: white;
$base-color-neutral: lightgrey;

// Tablist Container

.tablist {
color: $base-color-active;
position: relative;

  &:has([aria-orientation]) {

    @media(min-width: 48.75em) {
  
      display: grid;
      grid-template-columns: 20% auto;

    }
  
  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

    @media(min-width: 48.75em) {

      &[aria-orientation] {

        display: block; 

      }

    }

    [data-scroll-list] & {

      @media(max-width: 48.75em) {

        overflow-x: auto;
        flex-wrap: nowrap;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        white-space: nowrap;

          &::before {
          background-image: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          color: $base-color;
          content: "\203A";
          display: flex;
          font-size: 3rem;
          height: calc(64rem/16);
          justify-content: right;
          line-height: calc(64rem/16);
          position: absolute;
          right: 0;
          top: 0;
          width: calc(64rem/16);
          }

      }

    }

    li {
    flex-grow: 1;

      @media(min-width: 48.75em) {

        flex-grow: 0;

      }

    }

  }

  // Tab Button

  &__tab {
  background-color: $base-color-neutral;
  color: #000;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;

    &:focus-visible, &:hover {
    background-color: darken($base-color-neutral, 10%);
    }

    &[aria-selected="true"] {
    background-color: $base-color;
    color: $base-color-active;
    }

  }

  // Tab panel

  &__panel  {
  background-color: $base-color;
  padding: 1em;
  }

  // Focus State

  // Accessibility: NEVER remove focus outlines! Either redesign them or design an alternative focus state. 
  // In either case, a 3:1 ratio will be required. A 3:1 state between inactive and active state is also required. 
  // If this too confusing, leave states alone. Learn: https://webaim.org/articles/contrast/

  &__tab, &__panel {

    &:focus {
    outline-offset: -6px;
    }

  }

}