/*!

  Radancy Component Library: TabList

  Contributor(s): 
  Michael "Spell" Spellacy

  Dependencies: Sass

*/

.tablist {

// Component Variables

--tablist-color-active: #ffffff; // Active State
--tablist-color-default: #d3d3d3; // Default States
--tablist-color-interactive: #a9a9a9; // Interactive State 
--tablist-color-selected: #6F00EF; // Selected States

// Breakpoints (CSS variables are not allowed in media queries - boo!)

$tablist-large: 55em; // Large Viewport
$tablist-medium: 48.625em; // Medium Viewport

color: var(--tablist-color-active);
position: relative;

  &:has([aria-orientation]) {

    @media(min-width: $tablist-large) {
  
      display: grid;
      grid-template-columns: calc(280rem /16) auto;

    }
  
  }

  // Tablist Container (Optional)

  &__container {

  }

  // Tablist Heading (Optional)

  &__heading {
  color: var(--tablist-color-selected);
  font-size: 1.9rem;
  text-align: center;
  width: auto;
  }

  &__container, &__list {
  align-self: center;
  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

    &[aria-orientation] {

      @media(min-width: $tablist-large) {

        display: block; 

      }

    }

    [data-stack] & {

      @media(max-width: $tablist-medium) {

        display: block;

      }

    }

    [data-scroll] & {

      // This max-width can be changed depending on amount of list items you have.

      @media(max-width: $tablist-medium) {

        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: inline mandatory;
        white-space: nowrap;

        // Fallback Scrollbar

        scrollbar-color: var(--tablist-color-active) var(--tablist-color-selected);
        scrollbar-width: thin;

        @supports #{"\selector(::-webkit-scrollbar)"} {

          scrollbar-color: initial;
          scrollbar-width: auto;
    
          &::-webkit-scrollbar {
          height: calc(20rem / 16);
          }
      
          &::-webkit-scrollbar-track {
          background-color: var(--tablist-color-selected);
          }
      
          &::-webkit-scrollbar-thumb {
          background-color: var(--tablist-color-active);
          border: calc(8rem / 16) var(--tablist-color-selected) solid;
          border-radius: 100vw;
          }
        
        }

      }

    }

    li {
    flex-grow: 1;
    scroll-snap-align: start;

      @media(min-width: $tablist-medium) {

        flex-grow: 0;

      }

    }

  }

  // Tab Button

  &__tab {
  background-color: var(--tablist-color-default);
  color: #000;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;

    [data-animation] & {

      @media (prefers-reduced-motion: no-preference) {

        transition: 600ms;

      }

    }

    &:hover {
    background-color: var(--tablist-color-interactive);
    }

    &[aria-selected="true"] {
    background-color: var(--tablist-color-selected);
    color: var(--tablist-color-active);
    }

  }

  // Tab Panel

  &__panel  {
  background-color: var(--tablist-color-selected);
  overflow: hidden;
  padding: 1em;
  position: relative;

    [data-fixed-height] & {

      max-height: calc(400em/16);
      overflow-y: auto;
      overscroll-behavior-y: contain;
      scrollbar-gutter: stable;

      // Fallback Scrollbar

      scrollbar-color: var(--tablist-color-active) var(--tablist-color-selected);
      scrollbar-width: thin;

      @supports #{"\selector(::-webkit-scrollbar)"} {

        scrollbar-color: initial;
        scrollbar-width: auto;
        padding-inline-end: 0.5em;
  
        &::-webkit-scrollbar {
        width: calc(18rem / 16);
        }
    
        &::-webkit-scrollbar-track {
        background-color: var(--tablist-color-selected);
        margin-block: 0.5em;
        }
    
        &::-webkit-scrollbar-thumb {
        background-color: var(--tablist-color-active);
        border: calc(6rem / 16) var(--tablist-color-selected) solid;
        border-radius: 100vw;
        min-height: calc(100rem / 16);
        }
      
      }

    }
  
  }

  // Tab Content

  &__content { 
  position: relative;

    // Your specific styles, if any.

    [data-animation] & {

      :not([hidden]) & {

        inset-block-start: 0;
        opacity: 1;
  
        @starting-style {
        
          inset-block-start: 3em;
          opacity: 0;
        
        }

        @media (prefers-reduced-motion: no-preference) {

          transition: inset 600ms, opacity 300ms;
  
        }
    
      }

    }

  }

  // Focus State

  // Accessibility: Never remove focus outlines! Either redesign the outline or design an alternative focus state. 
  // However, a 3:1 ratio will be required. Learn: https://webaim.org/articles/contrast/

  &__tab, &__panel {

    &:focus {
    outline-offset: -6px;
    }

  }

}