---
components:

  - name: "Basic Setup"
    id: "basic-setup"

parameters: 

  - name: count 
    note:

      - Number
      - Optional

    desc: Sets the number of items to be displayed in the feed. The default is <strong>10</strong>.

  - name: default-css 
    note:

      - String
      - Optional

    desc:  When set to <code>y</code>, a link call to ready-made CSS will be appended to the <code>head</code> element of the page the script is running on. This is a bare-bones layout for quick implementation. Developers may wish to use their own CSS or copy over the default styles and alter as needed.

  - name: img 
    note:

      - String
      - Optional

    desc:  Determines which resolution of the image to be used. Accepted values include <code>low</code>, <code>high</code>, and <code>thumb</code>. The default is <code>thumb</code>, which will render thumbnail images.

  - name: show-url 
    note:

      - String
      - Optional

    desc: "When set to <code>n</code>, the URLs associated with each feed item will have a class of <code>visually-hidden</code> and <code>wai</code> appended to them. It will then be up to the front-end developer to accessibly hide this text from visual users, as they are still required to aid assistive technology users. Do <strong>not</strong> use <code>display: none</code> to hide these URLs."

  - name: user 
    note:

      - String
      - Mandatory

    desc:  Passing in the Facebook account name will display feed content from that account.

notes: 

  - item: jQuery is a dependency for this feed to run successfully, so be sure to include it on your page. Career Sites have jQuery built in, so this step is not necessary on that platform. The script is deferred so that it may be placed anywhere on the page, but if the defer attribute is removed, then be sure to place the script after the jQuery library has been initialized.

localcss: "init.css"
preview: false
tabcordion: true
title: "Facebook Feed v1.0"
desc: This application may be used to generate a component that can be used to display a client's Facebook feed. The feed is generated via JavaScript and can be placed on any web page.
---

{% include message/component-down.html %}

{% include demo/template.html %}

{% include demo/doc.html %} 