/*!

  Radancy Component Library: Card
  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;
$card-breakpoint: 60em;
$card-transition: 300ms;
$card-columns: 3;

// Card (.card)

.card {
list-style: none;
margin: 0;
padding: 0;
width: fit-content;

  &:not([data-horizontal]) {

    display: grid;
    gap: 1em;
  
    @media (min-width: calc(40ch * $card-columns)) {

      grid-template-columns: repeat($card-columns, 1fr);

    }

  }

  // Item (.card__item)
  
  &__item {
  border: 1px #767676 solid;
  padding: 1em;
  position: relative; // Needed for pseudo-element trick.
  transition: $card-transition;

    [data-horizontal] & {

      &:not(:last-child) {
      margin-bottom: 1em;
      }

      @media (min-width: $card-breakpoint) {

        display: grid;
        padding: 2em;
        gap: 2em;
        grid-auto-flow: column;

      }

    }
  
    &:focus-within, &:hover {
    background-color: #eee;
  
      .card__trigger {

        &::after {
        transform: translateX(calc(5em/16));
        }

      }

      .card__play {
      transform: scale(1.2);
      }
  
    }
      
  }

  // Media (.card__media)
  
  &__media {
  margin-bottom: 1em;
  position: relative;

    [data-horizontal] & {
    
      min-width: calc(300em/16);

    }

    img {
    display: block;
    border-radius: 5px;
    inline-size: 100%;
    }

  }

  // Media Preview (.card__thumbnail)

  &__thumbnail {
  position: relative;
  }

  // Play Button (.card__play)

  &__play {
  inline-size: calc(40em/16);
  inset-block-end: 1em;
  inset-inline-end: 1em;
  position: absolute;
  transition: $card-transition;

    path {
    fill: #fff;
    }

  }

  // Content (.card__content)

  &__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  }

  // Eyebrow (.card__eyebrow)

  &__eyebrow {
  color: $base-color;
  margin: 0 0 0.5em;
  }

  // Title (.card__title)
  
  &__title {
  color: $base-color;
  font-size: 1.4rem;
  line-height: normal;
  margin: 0 0 0.5em;
  text-align: start;

    // If text is not a heading, then center it.
  
    &:not(h2):not(h3):not(h4):not(h5):not(h6) {
    text-align: center;
    margin-bottom: 0;
    }
  
  }

  // Trigger (.card__trigger)

  &__trigger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
    
    // CTA
    // NOTE: HTML Entity being used, but you can use Font Awesome or inline SVG, too.

    &:not(button) {
  
      &::after {
      content: "\0279C";
      display: inline-block;
      margin-inline-start: .3em;
      transition: $card-transition;
      }

    }
      
    // Pseudo-element Trick
    // Makes all content in card clickable. 
  
    &::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    z-index: 1;
    }
  
  }

  // Summary (.card__summary)

  &__summary {

    p {
    margin: 0;
    }

  }

  // Multiple Links

  &__links {

    a {
    background-color: $base-color;
    color: #fff;
    display: block;
    padding: 0.8em;
    text-decoration: none;

      &:focus-visible, &:hover {
      text-decoration: underline;
      }

    }

  }

  // Shared: Category (.card__category) & Metadata (.card__metadata)

  &__category, &__metadata, &__links {
  font-size: 0.9rem;
  line-height: normal;
  
    ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    margin: 1em 0 0;
    padding: 0;
    }
  
    li:not(:last-child)::after {
    padding: 0 0.5em;
    }
  
  }

  // Category (.card__category)

  &__category {

    li {
    background-color: #EEE;
    border-radius: 5px;
    padding: 0.5em 1em 0.7em;
    }
  
  }

  // Metadata (.card__metadata)

  &__metadata {

    li:not(:last-child)::after {
    content: "|";
    }

  }
  
}