---
components:

  - name: "Default Setup"
    id: "default-setup"

parameters: 

  - name: clear 
    note:

      - Boolean
      - Optional

    desc: When set to <code>true</code>, the server cache for selected client is cleared.

  - name: client 
    note:

      - String
      - Mandatory

    desc: Accepts any valid X (Twitter) username value.

  - name: css 
    note:

      - String
      - Optional

    desc: Accepts a valid URL (Uniform Resource Locator) to any CSS file, which will override the default CSS. Custom style sheets can be used for more granular control over the default layout.

  - name: ga 
    note:

      - String
      - Optional

    desc: Supplying a valid Google Analytics ID will activate tracking functionality.

  - name: img 
    note:

      - Boolean
      - Optional

    desc: When set to <code>true</code>, the feed will display images.

  - name: tab 
    note:

      - Boolean
      - Optional

    desc: When set to <code>tab</code>, links will open within the same tab. 

notes: 

  - item: An inline script may also be used to initialize the feed.

folder: feeds/twitter
localcss: "init.css"
tabcordion: true
title: "X (Twitter) Feed v1.5"
desc: This component can be used to display a client's X (Twitter) feed.
---

{% include message/component-down.html %}

{% include demo/template.html %}

{% include guidance/iframe-label.html %}

{% include demo/doc.html %} 