/*!

  Radancy Component Library: Partial Disclosure

  Contributor(s): 
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions: 
  sass --watch .:. --style compressed

*/

$base-color: #6F00EF;

.partial-disclosure {

  &__trigger {
  margin-bottom: 0;

    button {
    background-color: transparent;
    border: 0;
    color: $base-color;
    cursor: pointer;
    font: inherit;
    }

  }

  &__btn {
  background-color: $base-color;
  border: 0;
  color: #fff;
  display: flex;
  margin-block: 1em;
  margin-inline: auto 0;
  padding: 1em;

    [data-button-bottom] & {

      margin-inline-start: 0;

    }

  }

  &__icon {
  margin-inline-start: 0.5em;

    &::after {
    display: inline-block;
    content: "+";
    }

    [aria-expanded="true"] & {

      &::after {
      content: "-";
      }

    }

  }

  &__content {
  max-height: none;
  overflow: hidden;
  padding: 0.5em 0.5em 1em;
  position: relative;

    // Fade effect

    &::after {
    background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    content: "";
    display: none;
    height: calc(100rem / 16);
    inset-block-end: 0;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    }

    &[aria-hidden] {
    max-height: calc(280rem /16);
    
      * {
      pointer-events: none;
      }

      &::after {
      display: block;
      }

    }

  }

}
