---
components:

  - name: "Default Setup"
    id: "default-setup"
    note: Use your keyboard to open the disclosure to see how focus is properly managed. However, by improving the experience for keyboard users, we have <a href="#anti-pattern-read-more">created a new issue</a> for other user groups.

classes:

  - name: .read-more
    html: 

      - div
      - section
      
    note: Mandatory
    desc: Used on the parent element that wraps your content.

  - name: .read-more__content	
    html: div
    note: Mandatory
    desc: Used on the element that wraps your partially hidden content. Must be a child of <code>.read-more</code>.

  - name: .read-more__btn
    html: button
    note: Component
    desc: Used on the disclosure button. This element is dynamiucally inserted. Language support coming soon.

notes: 

  - item: This component should not be used in scenarios where you need to load more content.

folder: read-more
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Read More v1.0"
desc: This component will allow you to implement a solution to expand <strong>partially hidden</strong> content areas.
---

{% include message/anti-pattern.html %}

{% include demo/template.html %}

{% include guidance/anti-pattern-read-more.html %}

{% include guidance/a11y-avoid-toggling-text.html %} 

{% include demo/doc.html %} 