---
components:
  - name: "Basic Setup"
    id: "basic-setup"
    note: "Use your keyboard to tab through and use the component to see how focus is properly managed."
folder: read-more
localcss: "init.css"
localjs: "init.js"
tabcordion: true
title: "Read More v1.0"
---

<p>This component will allow you to implement a solution to expand <strong>partially hidden</strong> content areas.</p>

{% include message/anti-pattern.html %}

{% include demo/template.html %}

{% include guidance/disclosures.html %}

{% include_relative attr.html %}

{% include repo-info.html %}


