/*!

  Radancy Component Library: Breadcrumbs

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions:
  sass --watch init.scss:init.css --style compressed

*/

$base-color: #6F00EF;

.breadcrumb {

  &__list {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;

    li {
    position: relative;

      &:not(:last-child) {

        &:after {
        content: "\003E";
        font-size: 1.1rem;
        }

      }

    }

    a {
    display: inline-block;
    line-height: normal;
    padding: 1em;

      &[aria-current] {
      font-weight: bold;
      text-decoration: none;
      }

    }

  }

}
