/*!

  Radancy Component Library: Breadcrumbs

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

*/

.breadcrumb {

--breadcrumb-color-track: #949595; // Track Color
--breadcrumb-color-thumb: #5D00C7; // Thumb Color
--breadcrumb-color-active: #3E0085; // Active State

padding: 1em 0;

  &[data-scroll] {

    overflow-x: auto;

    // Fallback Scrollbar

    scrollbar-color: var(--breadcrumb-color-thumb) var(--breadcrumb-color-track);
    scrollbar-width: thin;

    @supports #{"\selector(::-webkit-scrollbar)"} {

      scrollbar-color: initial;
      scrollbar-width: auto;

      &::-webkit-scrollbar {
      height: calc(8rem / 16);
      }

      &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
      border-radius: 100vw;
      }
  
      &::-webkit-scrollbar-track {
      background-color: var(--breadcrumb-color-track);
      }
  
      &::-webkit-scrollbar-thumb {
      background-color: var(--breadcrumb-color-thumb);

        &:hover {
        background-color: var(--breadcrumb-color-active);
        }

      }
    
    }

  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;

    [data-scroll] & {

      flex-wrap: nowrap;

    }

    li {

      &:not(:last-child) {

        &:after {
        content: "\003E";
        font-size: 1.1rem;
        }

      }

    }

    a {
    display: inline-block;
    line-height: normal;
    outline-offset: -5px;
    padding: 0.5em 1em;

      &[aria-current] {
      font-weight: bold;
      text-decoration: none;
      }

    }

  }

}
