/*!

  Radancy Component Library: Jump Menu (External)

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

*/
.jump-menu {

// Component Variable

--jump-menu-primary-color: #6F00EF;
--jump-menu-secondary-color: #69788C;
--jump-menu-tertiary-color: #CCC;

background-color: #eee;
border-radius: 5px;
padding: 1em;

  &__label {
  display: block;
  font-weight: bold;
  margin-inline-end: .3em;

    @media(min-width: 48.625em) {

      display: inline-block;

    }

  }

  &__select, &__btn {
  font-size: inherit;
  margin-inline-end: .3em;
  padding: .5em;



  
  }

  &__btn {
  background-color: var(--jump-menu-primary-color);
  border: 0;
  color: white;
  font-size: inherit;

    &:focus-visible {
    background-color: var(--jump-menu-secondary-color);
    }

  }

}
