.carousel {

// Variables 

--primary-color: #6F00EF;

    // aria-live announcement. This may never be removed.

    &__msg:not(:focus):not(:active) {
    block-size: 1px;
    clip-path: inset(50%);
    clip: rect(0 0 0 0); 
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    }
    
    &__container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
    margin-block-end: 1em;
    }

    &__placeholder__prev {
    justify-self: end;
    }

    &__placeholder__next {
    justify-self: start;
    }

    &__slides {
    display: grid;
    grid-auto-flow: unset; 
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0 0 1em;
    overflow: hidden; 
    padding: 0;

        [aria-roledescription] & {

          grid-auto-flow: column; 
          grid-template-columns: unset;

        }

    }

    &__slide {
    background-color: #eee;
    padding: 2em;
    }

    &__nav {

        ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

            button {
            background-color: #ccc;
            block-size: 1rem;
            border-radius: 100vw;
            border: 1px #000 solid;
            cursor: pointer;
            inline-size: 1rem;
            outline-offset: 4px;

                &[aria-current="true"] {
                background-color: var(--primary-color);
                border-color: transparent;
                }

            }

        }

    }

    &__prev, &__next {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: calc(32rem / 16); 
    padding: 0;
    }

}